<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <link type="text/css" rel="stylesheet" href="/stylesheets/udacity.css" />
        <link rel="shortcut icon" type="image/jpeg" href="/static/E.png" />
		<title>/ascii/</title> 
    </head>
    <body>
    	<div class="toptoolbar"> 
			<div id="my_name">Evy Kassirer</div> 
	  		<a class = "section_name" href='/'>About</a>
	  		<a class = "section_name" href='https://evykassirer.wordpress.com/' target= '_blank'>Blog</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume</a>
	  		<div class = "dropdown">
	  			<a class = "section_name" href='/projects'>Projects</a>
	  			<ul>
                    <li><a href='http://davepagurek.com/yc/' target='_blank'>Code Next</a></li>
                    <li><a href='/tictactoe'>Tic Tac Toe</a></li>
                    <li><a href='/udacity'>Web Dev</a></li> 
                    <li><a href='/todo'>Future learning</a></li>
                </ul>
	  		</div>
	 		<a class = "section_name" href='https://github.com/evykassirer/', '_blank'>GitHub</a>
	 		<a class = "section_name" href='http://ca.linkedin.com/in/ekassirer/', '_blank'>LinkedIn</a>
	 		<a class = "section_name" href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody">
			<div class="sidebar">
				<a href = "/udacity" id="sidebartitle"> Projects: </a>
				<br>
		        <br>
		        <a href = "/rot13">Rot13</a>
		        <br>
		        <a href = "/birthday">Do you know your birthday?</a>
		        <br>
				<a href = "/asciichan">ASCIICHAN!</a>
				<br>
				<a href = "/blog">The blog (main course project)</a>
				<br>
				<a href = "/wiki">Wiki (course exam)</a>
			</div>
			<div class="content">
        		<h1>/ascii/</h1>
				<form method="post">
					<label>
						<div>title</div>
						<input type="text" name="title" value ="{{title}}">
					</label>
					<label>
						<div>art</div>
						<textarea name="art">{{art}}</textarea>
					</label>			
					<div class="error">{{error}}</div>
					<input type="submit">
				</form>
				
				{% if img_url %}
					<img class="map" src="{{img_url}}">
				{% endif %}
				
				<hr>
				{% for art in arts %}
					<!-- this is to insert python-->
					<div class="post">
						<div class="post-title">{{art.title}}</div>
						<pre class="post-content">{{art.art}}</pre>
						<!--pre preserves white space-->
					</div>
				{% endfor %} 
			</div> 
		</div>
    </body>
</html>