{% extends "template.html" %}
{% block csstitle %}
        <link type="text/css" rel="stylesheet" href="/stylesheets/udacity.css" />
		<title>Guestbook</title> 
{% endblock %}
{% block body %}
			<div class="sidebar">
				<a href = "/udacity" id="sidebartitle"> Projects: </a>
				<br>
		        <br>
		        <a href = "/udacity/rot13">Rot13</a>
		        <br>
		        <a href = "/udacity/birthday">Do you know your birthday?</a>
		        <br>
				<a href = "/udacity/asciichan">ASCIICHAN!</a>
				<br>
				<a href = "/udacity/blog">The blog (main course project)</a>
				<br>
				<a href = "/udacity/wiki">Wiki (course exam)</a>
			</div>
			<div class="content">
				This was the main course project, the "blog app", which here is more like a guestbook.
				<br>
				<br>
				<a href="/udacity/blog/signup" class="login-link">Sign Up</a>
				&nbsp;
				<a href="/udacity/blog/login" class="login-link">Log In</a>
				&nbsp;
				<a href="/udacity/blog/newpost" class="login-link">Create a new post</a>
				<hr>
				{% for post in posts %}
				<!-- this is to insert python-->
					<div class="post">
						<a href="/udacity/blog/post/{{post.key().id()}}" class="post-title">{{post.title}}</a>
						<pre class="post-content">{{post.body}}</pre>				
						<!--pre preserves white space-->
					</div>
				{% endfor %}
				</hr>
				<div class="age">{{s}}</div>
			</div>
{% endblock %}