<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title> 
    </head>
    <body>
        <h2>Log In</h2>
        <form method="post"> 
            <label> Username <input type="text" name="username" value="{{username}}"> 	
            <br>
            <label> Password <input type="password" name="password"> </label> 
            <br>
            <div style="color: red">{{error}}</div>
			<input type="hidden" name="next_url" value="{{next_url}}"/>
			<input type="submit">
        </form>
    </body>
</html>