{% extends "template.html" %}
{% block csstitle %}
        <link type="text/css" rel="stylesheet" href="/stylesheets/udacity.css" />
		<title>New Post</title> 
{% endblock %}
{% block body %} 
			<div class="sidebar">
				<a href = "/udacity" id="sidebartitle"> Projects: </a>
				<br>
		        <br>
		        <a href = "/udacity/rot13">Rot13</a>
		        <br>
		        <a href = "/udacity/birthday">Do you know your birthday?</a>
		        <br>
				<a href = "/udacity/asciichan">ASCIICHAN!</a>
				<br>
				<a href = "/udacity/blog">The blog (main course project)</a>
				<br>
				<a href = "/udacity/wiki">Wiki (course exam)</a>
			</div>
			<div class="content">
				<form method="post">
					<label>
						<div>title</div>
						<input type="text" name="subject" value ="{{title}}">
					</label>
					<label>
						<div>body</div>
						<textarea name="content" rows="20" cols="50">{{body | safe}}</textarea>
					</label>			
					<div style="color:red">{{error}}</div>
					<input type="submit">
				</form>			
			</div>
{% endblock %}
