{% extends "template.html" %}
{% block csstitle %}
        <link type="text/css" rel="stylesheet" href="/stylesheets/udacity.css" />
		<title>Udacity Projects</title> 
{% endblock %}
{% block body %}
			<div class="sidebar">
			Projects:
			<br>
	        <br>
	        <a href = "/udacity/rot13">Rot13</a>
	        <br>
	        <a href = "/udacity/birthday">Do you know your birthday?</a>
	        <br>
			<a href = "/udacity/asciichan">ASCIICHAN!</a>
			<br>
			<a href = "/udacity/blog">The blog (main course project)</a>
			<br>
			<a href = "/udacity/wiki">Wiki (course exam)</a>
			</div>
			<div class="content">
				Welcome!
				<br>
				This stuff was made as part of a course with Udacity at <a href = "/redirect?url=http://www.udacity.com/course/cs253" target="_blank">udacity.com/course/cs253</a>
			</div>
{% endblock %}