{% extends "template.html" %}
{% block csstitle %}
        <link type="text/css" rel="stylesheet" href="/stylesheets/udacity.css" />
		<title>{{title}}</title> 
{% endblock %}
{% block body %}
			<div class="sidebar">
				<a href = "/udacity" id="sidebartitle"> Projects: </a>
				<br>
		        <br>
		        <a href = "/udacity/rot13">Rot13</a>
		        <br>
		        <a href = "/udacity/birthday">Do you know your birthday?</a>
		        <br>
				<a href = "/udacity/asciichan">ASCIICHAN!</a>
				<br>
				<a href = "/udacity/blog">The blog (main course project)</a>
				<br>
				<a href = "/udacity/wiki">Wiki (course exam)</a>
			</div>
			<div class="content">
		        <a href="/udacity/wiki" class="main-title">Wiki</a>
				<div class="topbar">
					{% if user %}
					<a href="/udacity/wiki/_edit/{{title}}">Edit this page </a> |  Page History
					&nbsp;
					logged in as <b>{{user}}</b> (<a href="/udacity/wiki/logout">logout</a>)
					{% endif %}
					{% if not user %}
					<a href="/udacity/wiki/login">login</a>|<a href="/udacity/wiki/signup">signup</a>
					{% endif%}
				</div>
				<br>
				<br>
				<hr>
					<div class="post-date"> {{last_edited}}</div>
					<div class="post">		
						<pre class="post-content">{{content | safe}}</pre>				
						<!--pre preserves white space-->				
					</div>
				</hr>	
			</div>
{% endblock %}