/*FOR FRONT PAGE*/

.header{
    width:1200px;
    margin:0px auto;
	display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
	left: 300px;
	position:fixed;
}

.mepic{
    padding: 10px;
    padding-left: 20%;
}

.mepic img {
    height: 20em;
}

.intro{
    float: center;
    font-size: 14px;
    position: relative;
    text-align: left;
	line-height:150%;
    padding-left: 20%;
    padding-right: 20%;
}

.intro a {
    text-decoration: none;
    color: #2A5DB0;
}

.intro a:hover {
    text-decoration: underline;
}

@media all and (max-width:850px) { 
    .intro{
        float: center;
        font-size: 14px;
        position: relative;
        text-align: center;
        line-height:150%;
        padding-left: 15%;
        padding-right: 15%;
    }


    .mepic{
        padding: 10px;
        text-align:center;
    }
    .mepic img {
        height: 10em;
    }
}
/*   .pagebody{
        width:90%;
    }
    .mepic{
        float:none;
        width:100%;
   }
   .mepic img {
        width:50%;
        padding:10px;
        display:block;
        margin-left: auto;
        margin-right: auto;
   }
   .intro {
        float: none;
        width:100%;
   }
}*/