/*FOR FRONT PAGE*/

.header{
    width:1200px;
    margin:0px auto;
	display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
	left: 300px;
	position:fixed;
}

.mepic{
    float: left;
    position: relative;
    width: 20%;
    padding: 10px;
}

.mepic img {
    width: 100%;
}

.intro{
    float: left;
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-align: left;
	line-height:150%;
    width: 50%;
    padding: 20px;
}

.intro a {
    text-decoration: none;
    color: #421C52;
}

.intro a:hover {
    text-decoration: underline;
}