/*FOR FRONT PAGE*/

.header{
    width:1200px;
    margin:0px auto;
	display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
	left: 300px;
	position:fixed;
}

.mepic{
    padding: 10px;
    float:left; 
}

.mepic img {
    height: 20em;
}

.intro{
    font-size: 14px;
    text-align: left;
	line-height:150%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    overflow:hidden;
    max-width: 50%;
}

.intro p {
    padding-bottom: 3%;
}

.container {
    overflow: hidden;
    padding-bottom: 20px;
    display: block;
}


@media all and (max-width:915px) { 
    .intro{
        float: center;
        font-size: 14px;
        position: relative;
        text-align: center;
        line-height:150%;
        padding-left: 15%;
        padding-right: 15%;
        max-width: 100%;
    }

    .mepic{
        float: none;
        padding: 10px;
        text-align:center;
    }
    .mepic img {
        height: 10em;
    }
}
