* {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

html, body{
    background-image: url('crossword.png');
    width: 100%;
    height: 100%;
}

/* TOP BAR MENU */

.topplaceholder {
    display:inline-block;
    height:50px;
}

.toptoolbar {
    display:inline-block;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #B39DDB;
}

.my_name {
    float: left;
    display:inline-block;
    height:50px;
    line-height: 50px;
    width: 200px;
    background-color: #B39DDB;
    
    color: black;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.section_name {
    float: left;
    display:inline-block;
    text-decoration: none;
    height:50px;
    line-height: 50px;
    width: 120px;
    background-color: #B39DDB;
    
    color: black;
    text-align:center;
}

.section_name:hover {
    background-color: #311B92;
    color: white;
}

.dropdown {
    float: left;
    width: 120px;
}

.dropdownlist {
    position:fixed;
    z-index:999;
    list-style-type: none;
    top:50px;
    font-size: 13px;
}

.dropdownlist a {
    height:50px;
    line-height: 50px;
    width: 120px;
    background-color: #B39DDB;
    display:none;
    color: black;
    text-align:center;
    text-decoration: none;
    color:black;
}

.dropdownlist a:hover {
    background-color: #311B92;
    color: white;
}

/* drop down part */
.hoveropen:hover .dropdownlist a {
    display:block;
} 

.pagebody{
    position:absolute;
    padding-top: 10px;
    width: 100%;
    height:100%;
}

.toptoolbarsmall {
    display:none;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #B39DDB;
}

/* MENU BAR FOR MOBILE AND THIN SCREENS 
when it's too small for the menu items: */
@media all and (max-width:1100px) { 
   .toptoolbar {
        display: none;
   }
   .toptoolbarsmall {
        display:block;
   }
   .dropdown {
        position: fixed;
        left:50%;
   }
}

@media all and (max-width:450px) { 
   .my_name {
        font-size: 15px;
        width: 150px;
   }
}