* {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /*position: relative;
    font-family: Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    background-color: #F1F0FF;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 400px;
  height: 200px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

hr {
	margin: 20px auto;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /*margin-bottom: 30px;*/
    text-decoration: none;
}

.post + .post {
    margin-top: 20px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.post-title:visisted {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}
/*
.post-content {
    margin-top: 5px;
	width: 800px; 
	height: 400px
}*/

.age {
    position: relative;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.topbar {
    position: absolute;
    top: 20px;
    right: 10px;
}

.topbar a{
	color: gray;
    font-size: 12px;
    text-decoration: none;
}

.map {
	position: absolute;
	right: 0;
	top: 112px;
}

/*FOR FRONT PAGE*/
html, body{
	position: static;
	height: 100%;
}

/*
.header{
    width:1200px;
    margin:0px auto;
	display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
	left: 300px;
	position:fixed;
}
*/

.pagebody{
	padding-top: 10px;
    overflow: hidden;
    width: 100%;
}

.mepic{
    float: left;
    position: relative;
    width: 20%;
    padding: 10px;
}

img {
    width: 100%;
}

.intro{
    float: left;
    position: relative;
    display: inline-block;
    text-align: left;
	line-height:150%;
    width: 50%;
    padding: 20px;
}

.sidebar{
	display: block;
	background-color: #E0D5F5;
	position: fixed;
	float:left;
	text-align:right;
	height: 100%;
	left: 0px;
	top:0px;
	padding:30px;
	margin-right:2px;
	font-size: 17px;
	font-weight: bold;
}

.sidebar a{
	color: gray;
    font-size: 17px;
    text-decoration: none;
	font-weight: normal;
}

.sidebar a:hover{
	color: black;
    font-size: 17px;
    text-decoration: none;
	font-weight: normal;
}