h2 {
	text-align: center;
	font-size: 40px;
}

p {
	text-align: center;
}

/* Not all links, but ones like the link to my github */
.link {
	text-decoration: none;
	color: #2A5DB0;
}

.link:hover {
    text-decoration: underline;
}

.project {
	height:350px;
	width:350px;
	float:left;
	background-color: white;
	margin:20px;
	position: relative;
	text-align: center;
}

.project p {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.project a {
	text-decoration: none;
}

.project h3 {
	font-size: 25px;
	padding: 10px;
}

.project .smaller {
	font-size: 12px;
}

.projectimage {
	top:0;
	bottom:0;
	background-color: white;
	z-index: 9;
	position: absolute;
	border: solid;
	border-width: 1px;
    border-bottom-style: solid;
	border-bottom-width:1px;
}

.projectimage img {
	vertical-align: middle;
	max-width:350px; 
	max-height:350px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}