a{
	color: gray;
    text-decoration: none;
}

a:hover {
	color:purple;
}

.box{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	width: 152px;
	height: 154px;
}

.row {
	display:flex;
}

.block{
    width: 50px;
	height: 50px;
	border-style: solid;
	border-color: black;
	border-width:1px;
	display: inline-block;
}

.turn{
	background-color: yellow;
}

.p1on{
	background-color: blue;
}

.p2on{
	background-color: red;
}

#board{
	display: block;
	position: fixed;
	float:left;
	text-align:right;
	height: 100%;
	left: 200px;
	top:60px;
	padding:30px;
	margin-right:2px;
}

#instructions {
	margin: auto;
	top: 65px;
	left: 260px;
	height: 370px; 
	width: 370px;
	background-color: transparent;
	color: #000;
	padding:20px;
	text-align:center;
	line-height:20px;
}

#winner{
	display: block;
	position: fixed;
	float:left;
	text-align:center;
	height: 100%;
	left: 250px;
	top:500px;
	padding:30px;
	margin-right:2px;
	font-size: 50px;
}

#sidebar{
	display: block;
	background-color: #BCD2EE;
	position: fixed;
	float:left;
	text-align:center;
	height: 100%;
	width:120px;
	left: 0px;
	top:50px;
	padding:30px;
	margin-right:2px;
	font-size: 17px;
}

#footer{
	position:fixed;
	text-align:center;	
	left: 300px;
	bottom:50px;
    color: gray;
    font-size: 12px;
}
