h2 {
    font-size: 20px;
	font-weight: bold;
    padding-top:20px;
    padding-bottom: 5px;
}

.pagebody{
    padding:10px;
    width:95%;
}

.pagebody ul {
    /* fix the no indent from the global padding removal */
    margin-left: 30px;
    padding-bottom:20px;
}

.pagebody a:hover{
	text-decoration: underline;
	font-weight: normal;
}

.pagebody a{
	text-decoration: none;
	color: blue;
}

.age {
    position: relative;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}