.toptoolbar {
    display:inline-block;
    overflow: hidden;
    width: 100%;
    background-color: #BDAEC6;

}

#my_name {
	float: left;
	display:inline-block;
	height:50px;
	line-height: 50px;
	width: 200px;
	background-color: #BDAEC6;
	
	color: black;
	text-align:center;

    font-size: 20px;
    font-weight: bold;
}

.section_name {
	float: left;
	display:inline-block;
	height:50px;
	line-height: 50px;
	width: 100px;
	background-color: #BDAEC6;
	
	color: black;
	text-align:center;

    /* because it's a link */
    cursor: pointer;
}

.section_name:hover {
	background-color: #421C52;
	color: white;
}

.dropdown {
	float: left;
	width: 100px;
}

.dropdown ul {
	position:absolute;
	z-index:999;
	list-style-type: none;
	top:50px;
}

.dropdown ul li {
	height:50px;
	line-height: 50px;
	width: 100px;
	background-color: #BDAEC6;
	
	color: black;
	text-align:center;

    /* because it's a link */
    cursor: pointer;
}

.dropdown ul li:hover {
	background-color: #421C52;
	color: white;
}

/* drop down part */
.dropdown ul {
	display:none;
}

.dropdown:hover ul {
	display:block;
} 