.pagebody a{
	color: gray;
    text-decoration: none;
}

.pagebody a:hover {
	color:purple;
}

.row {
	display:flex;
}

.block{
    width: 100px;
	height: 100px;
	border-style: solid;
	border-color: black;
	display: inline-block;
}

.p1on{
	background-color: blue;
}

.p2on{
	background-color: red;
}

#board{
	display: block;
	position: fixed;
	float:left;
	text-align:right;
	height: 300px;
	left: 200px;
	top:60px;
	padding:30px;
	margin-right:2px;
	z-index: 9;
	background-color: white;
}

#winner{
	display: block;
	position: fixed;
	float:left;
	text-align:center;
	height: 100%;
	left: 170px;
	top:360px;
	padding:30px;
	margin-right:2px;
	font-size: 50px;
}

#sidebar{
	display: block;
    background-color: #BCD2EE;
	position: fixed;
	float:left;
	text-align:center;
	height: 100%;
	width:120px;
	left: 0px;
	top:50px;
	padding:30px;
	margin-right:2px;
	font-size: 17px;
}

#footer{
	position:fixed;
	text-align:center;	
	left: 200px;
	bottom: 100px;
    color: gray;
    font-weight: lighter;
    font-size: 12px;
}
