<!DOCTYPE html>
<html>
 <head>
    	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<link rel="shortcut icon" type="image/png" href="http://art1914.com/light-bulb-drawn-blue3.png" />
		<title>404 Not Found</title> 		
    </head>
    <body>
    	<div class="toptoolbar"> 
			<div id="my_name">Evy Kassirer</div> 
	  		<a class = "section_name" href='/'>About</a>
	  		<a class = "section_name" href='https://evykassirer.wordpress.com/' target= '_blank'>Blog</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume</a>
	  		<div class = "dropdown">
	  			<a class = "section_name" href='/projects'>Projects</a>
	  			<div class = "dropdownlist">
                    <a href='http://davepagurek.com/yc/' target='_blank'>Code Next</a>
                    <a href='/tictactoe'>Tic Tac Toe</a>
                    <a href='/udacity'>Web Dev</a>
                    <a href='/todo'>Future learning</a>
                </div>
	  		</div>
	 		<a class = "section_name" href='https://github.com/evykassirer/', '_blank'>GitHub</a>
	 		<a class = "section_name" href='http://ca.linkedin.com/in/ekassirer/', '_blank'>LinkedIn</a>
	 		<a class = "section_name" href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody"><head>
	  		<h1 style="text-align:center">404 Not Found</h1>
  			<p style="text-align:center">Sorry, this page doesn't seem to point to anything.</p>
  			<br /><br />
		</div>
	</div>
 </body>
</html>