{% extends "blog-post-template.html" %}
{% block title %}
        <title>So You're Gonna Be A Tech Major?</title> 	
{% endblock %}

{% block blog_title %}So You're Gonna Be A Tech Major?{% endblock %}

{% block date %}August 29, 2014  {% endblock %}


{% block body %}
<p> Are you about to begin a degree in Computer Science? Engineering? Math? 
	<br>
<strong>Awesome</strong>. These fields are awesome fun with tons of opportunities to do cool stuff. </p>
<p> 
	Over the past year, since I started my degree in Computer Science co-op at Waterloo, I've discovered some things that surprised me and many of my classmates when it comes to both academics and job hunting. I've gotten a lot of great advice from students that helped me succeed in my first year courses and attain an internship at Google for my first co-op placement! Success is less about "natural smartness" than you think - it's more about the tricks and tips you know and the work you put in to get there.
</p>
<p>
	In this post I hope to highlight some of the important parts of being a tech major, what to expect, and how to succeed.
</p>
<p>
   <em>Disclaimer: This post is based on my experiences at Waterloo, but I feel it can apply to most university/college students and their experiences. </em>
</p>
<br>
<br>
<br>
<h2>Academics</h2>
<p> You're going to be taking some courses that seem very similar to the topics you took in high school. Don't let that fool you.
High school courses (math, computer science) are (in almost every case) not like university courses. 
</p>
<br>
1. The concepts will look similar, but you'll be expected to understand them much more <strong>in depth</strong>.
<ul>
	<li>When you learn a new formula, your prof will often prove that it works on the board.</li>
	<li>You'll be expected to know why certain theorems or equations work and when to use them.</li>
</ul>
<p>
You can help yourself learn more in depth by paying attention to detail and making sure you understand everything as the semester progresses. <strong>Don't be afraid to ask for help</strong> if you don't understand a lesson or an assignment question.
</p>
<br>
2. Assignments and tests are harder<strong>.</strong>
<ul>
	<li>You'll be expected to <strong>solve problems you've never seen before</strong> by figuring out what tools to use from what you learned in class.</li>
	<li>Think of it like a puzzle game<strong> -</strong> the tools you need are all there, but the answer isn't obvious. It's sometimes frustrating to get the solution, but it's fun and <strong>feels awesome when you finally get it</strong>.</li>
	<li>Don't be fooled by assignments that only have 5-10 questions. <strong>They can easily take hours</strong>, and the time it takes will vary wildly depending on how well you understand the material and have the skills to solve the problems.</li>
</ul>
<p> I think this increase in need for problem solving is one of the biggest shocks to first years. Do well on your assignments by <strong>starting early</strong>. I know we always say that, and we always procrastinate anyway, but there are so many people to help (teaching assistants, tutorial centres, prof office hours, other classmates) and you need to know that you need help in time to get it. Also, once you start the questions, <strong>your brain will keep trying to figure it out</strong> throughout the day - maybe you'll find the answer in the shower, or while you're sleeping! </p>
<br>
3. Assignments are worth less and also more
<ul>
	<li>Assignments in total are about 10-20% of your mark. The rest is split between the midterm(s) and exam. This means each assignment is around 1% of your grade. <strong>Each assignment question is a fraction of a percentage of your grade</strong>.</li>
	<li>So why bother even doing assignments? Assignments are essential to practising your problem solving skills, ensuring you understand course content, and receiving feedback on the way you solve problems.</li>
</ul>
<p> <strong>It's so so important that you put effort into your assignments.</strong> If you can solve your assignments by yourself, you will probably do well on the exam. If you complete the assignments with help from friends or teaching staff (<em>which is definitely totally okay</em>) remember that you will not have this support on your exams - so always <strong>exercise your skills trying to solve the questions yourself</strong> before getting external help.</p>
<br>
4. It's ridiculously hard to find motivation to work when you're living in residence (aka a 24h sleepover with hundreds of cool people your age) and there's so much cool stuff going on (clubs, events, etc.)
<ul>
	<li>No one is around to remind you to do your work. <strong>It's up to you to stay on top of things</strong>. And university is fast paced, so it's easy to fall behind and hard to catch up.</li>
</ul>
<p>So treat your courses like a puzzle game. Learn the strategies. <a title="Ability To Learn – Curiosity" href="http://evykassirer.wordpress.com/2014/08/01/ability-to-learn-curiosity/">Stay curious. Ask questions.</a> <strong>Get addicted to that high of figuring out a proof.</strong> That's what being in math/cs/eng is all about.</p>


<br>
<br>
<br>


<h2>The Job Hunt</h2>
<p>Waterloo has an awesome co-op program that helps many students find jobs, but even if you're not in co-op you can still apply to and get awesome jobs as early as your summer after first year.</p>
<p> If you're majoring in math/CS/eng <strong>you're probably going to get a programming job</strong>. Even if you've never programmed before this year. It's awesome if you have a job in mind that's more related to your specific field, and you should definitely work towards that, but a large percentage of the jobs available right now are programming jobs.</p>
<p>Here are some tips to get a programming job:</p>
<br>
1. Preparation
<ul>
	<li>Those of you in the math department beware - you'll learn Racket first semester which is a reallllly cool programming language but not that commonly used in the workplace.</li>
	<li>Most companies you apply to will expect you to know an imperative programming language (e.g. Python, C++, Java) and have some side projects.</li>
	<li><strong>It's okay to not have previous programming experience. </strong>Take out a book from the library, or try a course online. I've heard good things about <a title="Udacity Python Course" href="https://www.udacity.com/course/cs101">this python course on Udacity</a>. Pick one language and learn it fairly well. It's less important which specific language you're learning and more important to understand the concepts that all these languages use.</li>
	<li>Have side projects! <strong>You don't have to build something crazy fancy complicated.</strong> You can create something through a course (like <a href="https://www.udacity.com/course/cs253">this Udacity web development course</a>) or make a game like hangman or build a calculator or whatever else you can think of. You'll be surprised how complicated "simple projects" can be and how much you can learn. That's what employers want to see.</li>
</ul>
<br>
2. Resume
<ul>
	<li>This is only the first step to applying for jobs - if you have a weak resume you don't even get to the interview part, so a good resume is essential.</li>
	<li><strong>Start early!</strong> Start on your resume at least a month before applying for jobs so you have time to refine it to be awesome.</li>
	<li>There is a lot to say about how to make a good resume - here are some things I think are important: <a href="http://goo.gl/D9qGKV">http://goo.gl/D9qGKV</a></li>
	<li><strong>Get people to critique your resume.</strong> Go to resume critique sessions (MathSoc holds good ones) and ask all the upper year people you know to look it over and post it on Facebook and just keep asking people to edit it. I know it's scary to expose yourself like that, but having other people look over your resume is so so useful and helpful and worth it.</li>
</ul>
<br>
3. Apply
<ul>
	<li>Waterloo Works (starting Winter term 2015) used to cap at maximum 50 jobs you can apply to (when it was called Jobmine). Unless you have a lot of experience in the industry you should probably <strong>apply to 50 jobs</strong>. I mean it. I know people that applied to 50 and got fewer than 5 interviews (or none at all) - very common for first year. Take all the opportunities you can get.</li>
	<li><strong>Apply to "easy"/"boring" jobs </strong>- apply to QA and IT jobs. They're not as exciting as game development or fancy software development, but getting a job is hard. <strong>A month before our co-op semester, only 50% of my class had found a job.</strong> Of course, many more found jobs at the last minute - but it's scary. The co-op program does not guarantee jobs. Apply for jobs that are easier to get and develop experience for the more glamorous jobs in later co-ops. (note: You can totally apply for cool jobs for your first co-op term too - you never know, you might get it! Just make sure to distribute your applications over harder to get and easier to get jobs)</li>
</ul>
<br>
4. Interviews
<ul>
	<li>Interviews are scary! However, if you prepare you can have fun and do well.</li>
	<li>A lot of interviews for coding jobs involve actual<strong> programming on the spot</strong> on a whiteboard.
<ul>
	<li>Practice for these! Review your language of choice so you're comfortable programming in it without auto-complete or Google to help you, and solve practice problems (Google "code interview practice", choose a link, and go)</li>
</ul>
</li>
	<li>I attended an <strong>interview prep session at my Google internship</strong> this summer so here are some tips for the code solving part of the interview: <a href="http://goo.gl/lhZDR4">http://goo.gl/lhZDR4</a></li>
	<li>You can also expect a  "tell me about yourself" question (so be prepared!) and some time where they tell you about their company. Sometimes there are also soft skill questions, but often twisted towards tech e.g. "tell me about a technical problem you've faced and how you solved it."</li>
	<li>There will also be time at the end for you to ask questions, so look up their company beforehand and prepare some things to ask. (you can ask about the company culture, current projects they're working on, what your average day would look like, what they like most about their company)</li>
	<li>Dress nicely (some companies don't care if you wear a dress shirt, and most won't mind if you do, so better safe than sorry)</li>
	<li><strong>Show enthusiasm</strong> about the company and the position!</li>
</ul>
<br>
<p> That's all my advice for today! Feel free to message me on Facebook (Evy Kassirer) or send me an email if you have any questions or comments or things to add to this list. </p>
<p> I wish you the best of luck in your degree and I hope that your interest that brought you to study in this field only continues to grow. </p>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'evykassirer'; 
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

{% endblock %}