{% extends "template.html" %}
{% block csstitle %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
		<title>Evy Kassirer - Blog</title> 
{% endblock %}
{% block body %}
<div class="box">
	<a class="post-link" href="/blog/practicing">
		<div class="post-title" > Practicing the Tough Stuff --> Loving the Tough Stuff &#8594; </div>
		<div class="post-date">December 4, 2014</div>
		<div class="post-description">
			I have been very involved in music for the majority of my life, but have never particularly enjoyed individual practice. </br>
			In this post I discuss my frustrations with practicing, why it is still so important, and how it has positively influenced my experiences.
		</div>
	</a>
	</div>
	<div class="box">
	<a class="post-link" href="/blog/so-youre-gonna-be-a-tech-major">
		<div class="post-title" > So You're Gonna Be A Tech Major &#8594; </div>
		<div class="post-date">August 29, 2014</div>
		<div class="post-description">
			Are you about to begin a degree in Computer Science? Engineering? Math? </br>
			Awesome. These fields are awesome fun with tons of opportunities to do cool stuff. </br>
			In this post I hope to highlight some of the important parts of being a tech major, what to expect, and how to succeed.
		</div>
	</a>
	</div>
	<div class="box">
	<a class="post-link" href="/blog/ability-to-learn-curiosity">
		<div class="post-title" > Ability To Learn - Curiosity &#8594; </div>
		<div class="post-date">August 1, 2014</div>
		<div class="post-description">
			There’s one common theme in what I think is really effective for being satisfied and finding success, especially in technical fields like CS : the ability to learn – specifically, being curious and asking questions. </br>
			In this post I talk about why being actively curious and asking questions is awesome, how it's helped me enjoy school and work, and the kinds of awesome things I am excited to learn about every day.
		</div>
	</a>
	</div>
	<div class="box">
	<a class="post-link" href="/blog/first-hackathon">
		<div class="post-title"> First Hackathon - BroncoHack &#8594; </div>
		<div class="post-date">May 26, 2014 </div>
		<div class="post-description">
			This weekend I participated in my first hackathon! </br>
			While I'm in the Bay Area for co-op, I want to really take advantage of all the tech and coding opportunities around me - and this was a great start to my summer. And I want to share my first hackathon experience and recommendations to start off this blog!
		</div>
	</a>
	</div>
	


{% endblock %}