{% extends "blog-post-template.html" %}
{% block title %}
        <title>Practicing Tough Stuff</title> 	
{% endblock %}

{% block blog_title %}Practicing the Tough Stuff --> Loving the Tough Stuff{% endblock %}

{% block date %}December 4, 2014{% endblock %}


{% block body %}
<p>
I have taken voice lessons on and off, piano lessons throughout high school, viola lessons this past semester, and have been in choirs and orchestras for almost half my life. 
<br><b>I have never particularly enjoyed individual practice.</b> But still, I continue to participate in many musical activities, and I continue to practice.<br>
This semester, while taking a class on choral conducting, I've reflected more about practicing, why I don’t enjoy it, and why it is so awesome.
</p>

<p>
<br>
<em>Note: though I talk about practicing music in this post, it can be equally applied to any skill. One of the reasons I am not majoring in music is because individual musical practice is not something I enjoy very much. I am a computer science major because I love CS and I also love studying it and practicing it. However, music means a lot to me and I will always keep in my life - just with limited amounts of practicing.</em>
</p>

<p> <br> Practicing music is frustrating for me for a few reasons. </br>
	A huge part of it is self-critique, <b>confronting my mistakes and imperfections.</b> I also find that the majority of my time is spent working on sections I’m not good at yet, which can be unsatisfying. These passages are often challenging and take a while to master. Practicing also requires a lot of focus - more than any of my math or computer science assignments (I can’t really zone out in the middle of a musical passage, but nothing would happen to my code). </br>
I know that a lot my time spent programming is on tough concepts I haven't mastered, but the feeling of succesfully compiling code can keep me going for hours. </br>
I don't get highs like these during music practice - <b>perhaps I don't give myself enough credit for my progress.</b>
</p>

<p> <br> There are also some really nice things about getting a chance to practice my ensemble pieces individually. </br>
	I get a chance to think hard about what I need to work on, at my own pace instead of the rehearsal/ensemble’s pace. If I can't sing my part, but the rest of the section can, <b>the rehearsal won't stop for me.</b> If I’m conducting a passage poorly but the ensemble is able to sing it well, it doesn't make sense to continue it in rehearsal, and so I cannot keep working on my gesture. Another plus - my ensemble doesn't hear me. I get to make all the mistakes I want - and no one will ever know. Practicing time is quality time with just me and the music. And this time makes a huge difference when I return to the ensemble.
</p>

<p> </br>
When I’m in a rehearsal or performance and haven’t practiced enough, I don’t enjoy myself very much. </br>
I often like the pieces less, finding them hard and frustrating. As a conductor, I often find myself getting stuck on when to beat and when to cue - the choristers figure it out for themselves before I can coordinate the gestures properly. Sometimes I don’t know the the piece well enough to be able to hear mistakes in the choir. <b>I hit my multitasking limit far too quickly</b>, before I can get to doing important things such as listening better or gesturing for phrasing.
</p>

<p> </br>
<b>When I have practiced, it’s wonderful.</b> </br>
I watch the conductor more. I’m more likely to hear the parts around me and how my part fits in. <b>I worry less</b> about the notes, and care more about the big picture - and therefore am much more likely to <b>understand and appreciate</b> the music. As a conductor, I stop worrying about the basic beating pattern or what the piece should sound like - it’s already habit - and I can focus on more interesting things like conveying tone and phrasing. When I have practiced, know a piece well, and then perform it with an ensemble, <b>the connection between me and the other musicians is so much stronger.</b> This connection through music is one of the best things I have ever felt. This is why I continue to excitedly join multiple ensembles each term, and why I am willing to continue to practice so I can enjoy them to the greatest extent.
</p>


    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'evykassirer'; 
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

{% endblock %}