{% extends "blog-post-template.html" %}
{% block title %}
        <title>First Hackathon - BroncoHack</title> 	
{% endblock %}

{% block blog_title %}First Hackathon - BroncoHack{% endblock %}

{% block date %}May 26, 2014  {% endblock %}


{% block body %}

This weekend I participated in my first hackathon! While I'm in the Bay Area for co-op, I want to really take advantage of all the tech and coding opportunities around me - and this was a great start to my summer. And I want to share my first hackathon experience and recommendations to start off this blog!

<strong>Finding a Team</strong>

So I found this hackathon the day before on <a href="eventbrite.com">eventbrite.com</a> and didn't have a team going in. I was super nervous - I only have limited hacking experience. I think that the best kind of teammates have just slightly more or less experience than you and are willing to teach/learn. One of my fears was to end up with a team that knew way more than me and didn't want to waste time teaching me something. This didn't happen, but I made sure to try to explain a bit about the things I was doing to my teammates when I was doing something they hadn't known so that they had a chance to learn too.

A lot of people came into the hackathon with a team (and I would have tried to find some through the Bay Area Interns Facebook group if I had more time), but there were about 10 people who needed a team, and I ended up with two Cadet friends. One of them had C/C++ experience (same as me), and the other had a bit of experience with Java and Mobile Dev (which ended up being more useful). I really enjoyed working with them and I'm really glad I found them as my team!

<strong>Hack Ideas</strong>

I didn't know beforehand that there were categories (social justice, the local professional soccer team, technology, business), but apparently other people had so in the future I'll be sure to look into that. I'd also advise thinking of ideas beforehand, if you already have your team and can do some brainstorming, to optimize your time hacking.

The kinds of projects I try to think of are simple, stepwise, and useful. It needs to be simple enough that it can be made in 24 hours. What I mean by stepwise, is that you should be able to start out with a single part of it that is still functional, and then add parts bit by bit, keeping functionality, until you run out of time or reach something that you like. And of course, make sure that it's something that you, or some other target group, would actually really need/want and would be able to use easily. These things sound obvious, but there were teams that aren't able to finish and who create things that aren't practical or useful - and I'm pretty sure this is common - so really give it some thought.

<strong>Splitting the Wor</strong><strong>k</strong>

This is something I still need to learn a lot about and I don't know how well my team was able to accomplish it. Most if not all of what I've worked on in the past have been projects I did on my own. At a hackathon, since we're in time crunch, it becomes important to have everyone working on stuff as much as possible. What my team ended up doing was: I used computer for the app and made the xml files; Bobby found pictures, wrote blurbs, made the logo, and did the business model; Matt did the Java stuff on his computer and integrated in onto mine with the xml files and helped me with lots of random bugs. We tried to let each other know about what we were working on so all of us could keep the big picture.

<strong>Google is Your Friend</strong>

Seriously. Almost everything I did, I figured it out by Googling it. StackOverflow is my hero &lt;3

One of the best parts of this is that if you have some basic knowledge in something, it isn't too hard to do build something you originally had no idea how to make!

<b>Sleep</b>

One thing that had kept me from participating in hackathons before was that you pretty much end up pulling an all-nighter, and I need <em>a lot</em> of sleep. I ended up being really surprised at how productive I was in the middle of the night - though I'll try to forget that fact to prevent myself from staying up late on homework.

One thing I wish I had brought was a thin little roll-up mattress, or something to sleep on- I saw someone with one, but I ended up sleeping for an hour or so on some chairs and also on a carpeted floor. It also gets fairly cold in the nights, and I wish I had brought a sweater or blanket or something.

I'd definitely advise sleeping for a little bit if you're tired - a short nap helps you be more productive.

<strong>My Goals </strong>

What I was looking for going in was to learn some new technology, get a lot of coding done, meet some cool people, and get some awesome free stuff.

I learned Android development, a bit about Java, wrote a bunch of code, had an awesome team and met some other neat people, learned about American culture (and made some accidental references to being Canadian including spelling colour with a u and exclaiming "ahhh control-zed control-zed"), got a free t-shirt, and tons and tons of free stuff!

[caption id="attachment_11" align="aligncenter" width="300"]<a href="http://evykassirer.files.wordpress.com/2014/05/20140525_114304.jpg"><img class="wp-image-11 size-medium" src="http://evykassirer.files.wordpress.com/2014/05/20140525_114304.jpg?w=300" alt="hackathon room" width="300" height="225" /></a> This is one of a few rooms where people were hacking.[/caption]

&nbsp;

<strong>The Product!</strong>

We made an app named FastFit. The concept is that we need more exercise, and have random short periods of time throughout the day sitting at our desks or waiting for the microwave or brushing our teeth. Our app will give you one minute exercises to do, and will time you for 60 seconds while you complete them. It's super simple, but also just what you need to take advantage of those little minute long pockets of free time in your day!

[caption id="attachment_13" align="alignnone" width="180"]<a href="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-11-41-19.png"><img class="size-medium wp-image-13" src="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-11-41-19.png?w=180" alt="some screenshots from the app" width="180" height="300" /></a> some screenshots from the app[/caption]

<a href="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-11-41-30.png"><img class="alignnone size-medium wp-image-14" src="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-11-41-30.png?w=180" alt="Screenshot_2014-05-25-11-41-30" width="180" height="300" /></a> <a href="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-13-02-25.png"><img class="alignnone size-medium wp-image-15" src="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-13-02-25.png?w=180" alt="Screenshot_2014-05-25-13-02-25" width="180" height="300" /></a> <a href="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-13-02-35.png"><img class="alignnone size-medium wp-image-16" src="http://evykassirer.files.wordpress.com/2014/05/screenshot_2014-05-25-13-02-35.png?w=180" alt="Screenshot_2014-05-25-13-02-35" width="180" height="300" /></a>

&nbsp;

&nbsp;

It was really really fun attending this hackathon, I learned a lot, and I'm glad I decided to go! I already have signed up for two more this summer, and have a team together for the next one.

This summer is going to be an amazing experience of learning and having tons of fun - I am sure of it.

<h3>Long Story Short,</h3>
<p> Be actively curious. Ask cool questions. Get cool answers. Learn. </p>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'evykassirer'; 
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

{% endblock %}