{% extends "template.html" %}
{% block csstitle %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/frontpagestyle.css" />
		<title>Evy Kassirer</title> 
{% endblock %}
{% block body %}
<div class="container">
			<div class="mepic"> <img src="/static/evy.jpg" alt="picture of myself"> </div>
			<div class="intro">
				<p>
				Hi! I'm a Computer Science student at the <a href="https://cs.uwaterloo.ca/" target="_blank">University of Waterloo</a>. 
				</p><p>
				I love working on projects that directly help people and promote social change. My career goal is to develop software to better people's learning experiences. I want to help improve the education system and society's attitude towards learning so that people's intelligence and curiosity can be fostered.
				</p><p>
				My main interests are Computer Science, <a href="/music">music</a>, education/leadership, and social justice. I am currently an active member of Waterloo's <a href="https://wics.uwaterloo.ca" target="_blank">Women in Computer Science</a> committee and a student conductor of the Waterloo University Choir. 
				</p><p>
				<a href="/todo">There's so much I want to do.</a>
				</p><p>
				I've interned with Chrome Accessibility and Youtube Kids, and will be joining Khan Academy January-April 2016.
			</p>
			</div>
</div>
{% endblock %}