{% extends "template.html" %}
{% block csstitle %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/frontpagestyle.css" />
		<title>Evy Kassirer</title> 
{% endblock %}
{% block body %}
			<div class="mepic"> <img src="/static/evy.jpg" alt="picture of myself"> </div>
			<div class="intro">
			<p>
				I'm a self-motivated and dedicated software engineer, driven by curiosity and passion.
				<br>
				<br>
				I study Computer Science (Honours, Co-op) at the University of Waterloo and am always excited about 
				learning new technology and solving challenging problems. 
				I love creating technology that directly helps people, and my career goal is to develop software to improve people's learning experiences. 
				My experience as a camp counsellor and tutor has developed my interest in children and education; however, I am always learning new things 
				and am open to a variety of fields.
				<br>
				<br>
				I also have a passion for music which has led me to participate in a variety of ensembles over the years. 
				<br>
				<a href="https://www.youtube.com/user/newsong226/videos"  target="_blank">I sing and play ukulele</a>, viola, and piano.
			</p>
			</div>
{% endblock %}