<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>/ascii/</title> 
    </head>
    <body>
        <h1>/ascii/</h1>
		
		<form method="post">
			<label>
				<div>title</div>
				<input type="text" name="title" value ="{{title}}">
			</label>
			<label>
				<div>art</div>
				<textarea name="art">{{art}}</textarea>
			</label>			
			<div class="error">{{error}}</div>
			<input type="submit">
		</form>
		
		{% if img_url %}
			<img class ="map" src="{{img_url}}">
		{% endif %}
		
		<hr>
		{% for art in arts %}
		<!-- this is to insert python-->
			<div class="post">
				<div class="post-title">{{art.title}}</div>
				<pre class="post-content">{{art.art}}</pre>
				<!--pre preserves white space-->
			</div>
		{% endfor %}
			
    </body>
</html>