<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="shortcut icon" type="image/jpeg" href="http://s13.postimg.org/vpsq41z3n/download.jpg" />
		<title>Evy Kassirer</title> 
    </head>
    <body>
        <div class="header"> Evy Kassirer </div>
		<div class="sidebar">
		
		<br>
        <a href = "/resume" target="_blank">Resume</a>
        <br>
		<br>
		<a href = "/redirect?url=http://ca.linkedin.com/in/ekassirer/" target="_blank">LinkedIn</a>
		<br>
		<br>
        <a href = "/redirect?url=https://github.com/evykassirer/" target="_blank">Github</a>
        <br>
		<br>
		<a href = "/udacity">Udacity course projects</a>
		<br>
		<br>
		<a href = "/todo">Programming To Do List <br> && Coding Resources</a>
		<br>
		<br>
		<a href = "/tictactoe">Tic Tac Toe Game</a>
		</div>
		
		<div class="pagebody">
		<p>
			I'm a first year 1B student in Honours Computer Science at the University of Waterloo. I have a 
			passion for learning new technology and applying my current knowledge of programming and development. 		
			After graduating, I'd love to develop software to help people learn. My experience as a camp counsellor 
			and tutor has developed my interest in education; however, I have much to learn as a student and am open to a variety of fields.
			<br>
			<br>
			I also have a passion for music which has led me to participate in a variety of ensembles over the years. 
			<br>
			I sing and play viola, ukulele, and piano.
		</p>
		</div>
		<br>
		<br>
	</body>
</html>