{% extends "template.html" %}
{% block csstitle %}
        <link rel="stylesheet" type="text/css" href="stylesheets/music.css"/>
		<title>Music Experience</title> 
{% endblock %}
{% block body %}
<h1 class="center">Music Experience</h1>

<div class="banner">Casual Ukulele</div>

<div class="section-with-video">
	<div class='myIframe'><iframe src="https://www.youtube.com/embed/videoseries?list=PLLGnibIm00NbZbxj_mRDUQbn1As-8L7aC" frameborder="0" allowfullscreen></iframe></div>
	<div class="text">
	I've been playing the ukulele for around 3 years now, mostly playing simple chord progressions. 
	I love the uke because it's super portable and easy to pick up and accompany myself. I mostly record covers of some of my favourite songs, but I also occasionally write my own songs. 
	</div>
</div>

<div class="banner">Choral Conducting</div>

<div class="section-with-video">
	<div class='myIframe'><iframe src="https://www.youtube.com/embed/videoseries?list=PLLGnibIm00NbmqzyUPWGBvfsEyR3e8o31" frameborder="0" allowfullscreen></iframe></div>
	<div class="text">
	I am currently a student conductor with the
	<a href = "https://uwaterloo.ca/music/ensembles#University%20Choir">
	Waterloo University Choir</a>, where I lead alto sectional rehearsals and rehearse pieces with the choir. In our fall concert, I conducted Sarah Quartel's <a href = "http://www.sarahquartel.com/snow-angel.php">Snow Angel.</a> In 2014-15 I took Mark Vuorinen's two conducting courses at the University of Waterloo. </br></br>
	Conducting is exciting for me because it combines some of my favourite things: music, pedagogy, and leadership.
	</div>
</div>

<div class="banner">Choral Singing</div>

<div class="section-just-text">
I've been singing in choirs since the 6th grade, participating in over 10 ensembles including the
<a href = "https://uwaterloo.ca/music/ensembles">Waterloo</a>
Waterloo University Choir and Chamber Choir currently, 
and the <a href = "http://cantiamogirlschoir.ca/">
Cantiamo Girl's Choir of Ottawa</a>
and Ottawa Children's Choir previously.
</br></br>
Choir is always a highlight of my week. When I sing with others, I feel a connection to others that is stronger than I've felt in almost any other situation. My voice resonates in the room, combining with others, and I become part of something really beautiful. 
</div>


<div class="banner">Improvisation</div>

<div class="section-with-video">
	<div class='myIframe'>
		<iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/175993163&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></div>
	<div class="text">
	I am part of a group of musicians that improvise with our voices and instruments in various acoustically fun spaces in UWaterloo. 
	</div>
</div>

<div class="banner">Solo Voice</div>

<div class="section-just-text">
In Fall 2015, I began taking voice lessons with <a href="https://uwaterloo.ca/music/people-profiles/stephanie-kramer">Stephanie Kramer</a> as part of a for-credit studio course at the University of Waterloo. 
</div>

<div class="banner">Other Instruments</div>

<div class="section-just-text">
I played viola for four years of high school classes, and several ensembles including the University of Waterloo Orchestra, Lisgar Senior Orchestra, and Lisgar String Ensemble. I also played in Lisgar's string quartet groups that performed for various events at locations such as Ottawa City Hall and the National Gallery of Canada.</br></br>
I also took piano lessons for three years, achieving grade 8 RCM.
</div>

{% endblock %}