<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/projects.css" />
        <link rel="shortcut icon" type="image/jpeg" href="/static/E.png" />
		<title>Evy Kassirer</title> 
    </head>
    <body>
    	<div class="toptoolbar"> 
			<div id="my_name">Evy Kassirer</div> 
	  		<a class = "section_name" href='/'>About</a>
	  		<a class = "section_name" href='https://evykassirer.wordpress.com/' target= '_blank'>Blog</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume</a>
	  		<div class = "dropdown">
	  			<a class = "section_name" href='/projects'>Projects</a>
	  			<ul>
                    <li><a href='http://davepagurek.com/yc/' target='_blank'>Code Next</a></li>
                    <li><a href='/tictactoe'>Tic Tac Toe</a></li>
                    <li><a href='/udacity'>Web Dev</a></li> 
                    <li><a href='/todo'>Future learning</a></li>
                </ul>
	  		</div>
	 		<a class = "section_name" href='https://github.com/evykassirer/', '_blank'>GitHub</a>
	 		<a class = "section_name" href='http://ca.linkedin.com/in/ekassirer/', '_blank'>LinkedIn</a>
	 		<a class = "section_name" href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody">
			<h2>Projects</h2>
			<div id="projects">
				<a href='http://davepagurek.com/yc/' target='_blank' class="project">
					<br>
					<h3>CodeNext</h3>
					<p>There are a lot of learning materials to choose from. We narrow it down.</p>
					<br>
					<p><em>Technologies: <br> PHP, Mysql, HTML, CSS, Javascript </em></p>
					<br>
					<p>Why: Project for YCHacks 2014. I mainly worked on backend. This helps solve an overwhelming issue I've faced for a while, and I hope to continue to work on it.</p>
					<br>
					<p>To Do: move to webapp2, increase security, improve UI, add user accounts.</p>			
					<div class="projectimage">
						<span class="helper"></span><img src="/static/codenext.jpg" alt="CodeNext website logo and 'I want to learn' button"/>
					</div>
				</a>

				<a href='/tictactoe' class="project">
					<br>
					<h3>Tic Tac Toe</h3>
					<p> A more challenging and strategy requiring twist on a classic childhood game. </p>
					<br>
					<p><em>Technologies: <br> HTML, CSS, Javascript</em></p>
					<br>
					<p>Why: This was my first Javascript project. In creating this game I explored features including how the DOM and event listners work.</p>
					<br>
					<p>To Do: cross browser support, add ability to play with friends from separate windows.</p>
					<div class="projectimage">
						<span class="helper"></span><img src="/static/ttt.png" alt="tic tac toe game"/>
					</div>
				</a>

				<a href='/udacity' class="project">
					<br>
					<h3>Udacity Web Development Course Projects</h3>
					<p>Web application developed from self learning course. Some silly form validation projects, a "blog" (guestbook), and a wiki. </p>
					<br>
					<p class="smaller"><em>Technologies: GoogleAppEngine, Python, webapp2, GSQL <br><br>
					Implemented: HTTP Requests · Form Handling · Cookie Hashing · Password Hashing · APIs · Scaling · Caching</em><p>
					<br>
					<p>To Do: make the blog sign in actually do something, make the wiki easier to interact with, finish the course bonus.
					<div class="projectimage">
						<span class="helper"></span><img src="/static/udacity.png" alt="Udacity course projects"/>
					</div>
				</a>

				<a href='/todo' class="project">
					<br>
					<h3>Programming To Do List and Coding Resources</h3>
					<br><br>
					<p>A list of things I want to work on soon, and all the resources and cool stuff I've found over the years.</p>
					<br>	
					<div class="projectimage">
						<span class="helper"></span><img src="/static/todo.png" alt="Programming To Do List and Coding Resources"/>
					</div>
				</a>
			</div>
		</div>
		<br>
		<br>

	</body>
</html>