{% extends "template.html" %}
{% block csstitle %}
		<link type="text/css" rel="stylesheet" href="/stylesheets/resourcesstyle.css" />
		<title>Resources for Coding and Software Development</title> 		
{% endblock %}
{% block body %}
			<h1> Resources for Coding and Software Development ~ a collection of links from over the years</h1>

			<h2> Helpful tools </h2>
			<ul>
				<li><a href=http://uxchecklist.github.io/>UX Project Checklist</a></li>
				<li> 	
					<a href=http://www.starling-software.com/employment/programmer-competency-matrix.html> Programmer Competency Matrix </a> 
				</li>
				<li><a href= http://discover-devtools.codeschool.com/> codeschool on Chrome dev tools </a> for web dev </li>
				<li> also for web dev: <a href=https://goggles.webmaker.org/en-US>these x-ray goggles</a> are cool </li>
				<li> <a href=exercism.io>exercism.io </a> - coding practice and code critique</li>
				<li> <a href=https://github.com/> Github </a></li>
				<ul>
					<li><a href=https://help.github.com/articles/set-up-git> setup </a></li>
					<li>Books and articles: <a href=http://git-scm.com/book/en/> Git Book </a> ,
					<a href=http://think-like-a-git.net/> Think like (a) Git </a>, <a href=https://github.com/git-game/git-game>git game</a> </li>
					<li>Interactive tutorials: <a href=http://pcottle.github.io/learnGitBranching/> Learn git branching </a>, <a href=http://gitreal.codeschool.com/?utm_source=github&utm_medium=codeschool_option&utm_campaign=trygit> CodeSchool tutorial </a></li>
				</ul>
			</ul>



			<h2> Coding schools and courses I want to take </h2>
			<ul>
				<li>
					<a href=https://www.coursera.com/> Coursera </a>
				</li>
				<ul>
					<li> <a href="https://www.udacity.com/course/intro-to-machine-learning--ud120"> Intro to Machine Learning</a></li>
					<li><a href="https://www.udacity.com/course/intro-to-artificial-intelligence--cs271">
					Intro to Artificial Intelligence</a></li>
				</ul>
				<li> <a href=http://plusacumen.org/courses/hcd-for-social-innovation/>A course for human centered design</a></li>
				<li>	
					<a href=https://www.udacity.com/> 
					Udacity</a> 
				</li>
				<ul>
					<li>	
						<a href=https://www.udacity.com/course/cs258> 
						Software Testing Methodologies</a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs259> 
						Software Debugging </a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs256> 
						Mobile Website Development and Design </a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs291> 
						Interactive 3D Graphics </a> 
					</li>	
					<li>
						<a href=https://www.udacity.com/wiki/cs253> Udacity web dev course</a> - I completed this course and would definitely recommend it as a starting point!  
					</li>
				</ul>
				<li>
					<a href=http://www.bento.io>bento.io</a> "Teach yourself to code. Everything you need to be a self-taught expert developer" 
				</li>
				<li>	
					<a href=http://www.codecademy.com/learn> 
					Codecademy</a> 
				</li>
				<li>	
					<a href=http://www.codeschool.com> 
					CodeSchool </a> 
				</li>		
				<li> <a href= https://sites.google.com/site/cssicontent/>Google's CSSI Web Dev Course Curriculum</a></li> 
			</ul>

		

			<h2> Frameworks for making a web app </h2>
			<ul>
				<li> webapp2/GQL using <a href=https://appengine.google.com> Google App Engine </a> (like the rest of my website) -- <a href=https://developers.google.com/appengine/docs/python/> Tutorial - App Engine with Python</a>  </li>
				<li> webapp2/<a href=http://flask.pocoo.org/>Flask</a></li>
				<li> <a href=https://www.djangoproject.com/>Django</a> -- 
			 		 <a href=http://www.mysliderule.com/web-dev> 
			 		 	List to be a pro at Web Development using Python & Django </a> </li>
				<li> <a href=http://rubyonrails.org/>Ruby on Rails</a> </li>
			</ul>



			<h2> Make your website pretty </h2>
			<ul>
				<li><a href=https://www.khanacademy.org/computing/computer-programming/html-css>
					Khan Academy's course on HTML/CSS</a><li>
				<li> <a href=https://www.google.com/fonts>open source fonts</a></li>
				<li>
					CSS: <a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started> guide </a> and 
					<a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations> animations </a> and <a href=http://css-tricks.com/responsive-menu-concepts/>good ways to make menus mobile friendly</a>
				</li>
				<li><a href=http://getbootstrap.com/>Bootstrap</a> with <a href=http://bootswatch.com>Bootswatch (to customize it)</a></li>
			 	<li><a href=http://foundation.zurb.com/>Foundation</a></li>
			 	<li><a href=http://www.monolinea.com/css-frameworks-comparison/>Framework comparisons to help decide</a></li>
			  	<li>(<a href=http://mixture.io/>Mixture</a> maybe but it costs money)</li>
				<li> 
					<a href=http://sass-lang.com> 
					Sass: a good alternative to CSS</a> and <a href=http://bourbon.io/> bourbon to go with it </a>
				</li>
			</ul>



			<h2> Stuff you can do outside of personal projects </h2>
			<ul>					
				<li> 	
					<a href=http://stackoverflow.com/> Stack Overflow </a> 
					(make an account and join the community) 
				</li>
				<li> Contests and Challenges  (put solutions on GitHub)	</li>
				<ul>
					<li>
						<a href=http://projecteuler.net/problems> 
						Project Euler </a> 
					</li>
					<li>
						<a href=http://www.topcoder.com> 
						Top Coder </a> 
					</li>
					<li>
						<a href=http://codeforces.com/contests>
						CodeForces </a>
					</li>
				</ul>
			</ul>



			<h2> Programming languages</h2>
			<ul>
				<li>
					C++: <a href=http://www.cplusplus.com/doc/tutorial/> 
					Tutorials </a> --
					<a href=http://www.cplusplus.com/reference/> 
					References </a>	--
					<a href=https://www.sgi.com/tech/stl/stl_index.html>Standard Template Library</a> --
					<a href=http://knot805.eti.pg.gda.pl/po/books/Effective_C++,%20Second%20Edition_190.pdf> Effective C++ </a> --
					<a href=http://it-ebooks.info/book/2510/> C++ Pocket Reference </a>
				</li>
				<li> JavaScript </li>
				<ul>				
					<li><a href=https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml>Google's style guide</a></li>
					<li>
						<a href=http://it-ebooks.info/book/274/> 
						JavaScript: The Good Parts </a> (I downloaded the ebook which has a nice table of contents)  
						<a href=http://thedersen.com/talks/2012/01/25/javascript-the-good-parts/images/bad-vs-good.jpg> (related joke) </a>
					</li>
					<li><a href=http://dmitrysoshnikov.com/ecmascript/javascript-the-core/>JavaScript the core</a></li>
					<li>
						articles on JavaScript on <a href=http://javascript.crockford.com/> 
						Doug Crockford's site </a>   
					</li> 	
					<li> Use chrome Developer Tools to debug - not "alert"! <a href= http://discover-devtools.codeschool.com/> codeschool chrome dev tools </a> </li>
					
					<li> "JavaScript language basics - <br> If you know what a closure is and you understand variable scope (hint: it's completely different than in C++ and Java) then you're on the right track."</li>
					<li>
						<a href=http://stackoverflow.com/questions/11246/best-resources-to-learn-javascript> 
						StackOverflow's advice</a>  and list of Crockford's videos
					</li>
					<li>
						<a href=http://eloquentjavascript.net/> 
						Eloquent JavaScript: A Modern Introduction to Programming</a> 
					</li>				
					<li>
						<a href=https://www.codeschool.com/courses/javascript-road-trip-part-1> 
						CodeSchool's course</a> 
					</li>
				</ul>

				<li> Popular Javascript Frameworks</li>
				<ul>
					<li> <a href=https://angularjs.org/> Angular JS </a> </li>
					<li> NodeJS </li>
				</ul>

				<li> 
					Python:
					<a href=https://docs.python.org/2/tutorial/> Tutorial </a>  --
					<a href=https://www.pythonanywhere.com/try-ipython/> Compile online </a>
					<a href=http://learnpythonthehardway.org/book/> Learn Python the hard way</a>
				</li>
				
				<li>
					Android:
					<a href=http://developer.android.com/training/index.html>Android Dev Tutorials</a> --
					<a href=https://github.com/thecodepath/android_guides/wiki/Android-Bootcamp-Cliffnotes>Android Bootcamp Cliffnotes</a> --
					<a href=http://vimeo.com/codepath/videos/page:1/sort:alphabetical/format:thumbnail>codepath's videos</a> --
					<a href=https://www.youtube.com/watch?v=Z149x12sXsw>Derek Banas Youtube Tutorial</a> --
					<a href=https://www.udacity.com/course/ud853>Udacity course</a>
				</li>

				<li>
					Swift: <a href=https://developer.apple.com/videos/wwdc/2014> Intermediate swift </a>
				<li> 
					<a href=http://flint.cs.yale.edu/cs422/doc/art-of-asm/pdf/> 
					The Art of Assembly Language Programming </a> 
				</li>
				
				<li> 
					<a href=http://pages.cs.wisc.edu/~hasti/cs368/JavaTutorial/> 
					Java </a> 
				</li>

			</ul>

		<h2>Preparing for coding applications/interviews</h2>
		<ul>
			<li>Get your resume critiqued in person or online <a href="https://www.facebook.com/groups/1487708811477672/?fref=ts">Hackathon Hackers resume critique</a></li>
			<li><a href=http://bigocheatsheet.com/>Big O cheatsheet</a></li>
			<li><a href=http://firstround.com/review/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP/>The Anatomy of the Perfect Technical Interview from a Former Amazon VP</a></li>
			<li><a href=https://www.reddit.com/r/cscareerquestions/comments/1jov24/heres_how_to_prepare_for_tech_interviews/>Concepts to review or check out</a>(you don't HAVE to know EVERYTHING, especially if you haven't learned it in school yet)</li>
			<li><a href="https://medium.com/@qrazhan/cs-internship-recruiting-guide-aebb68912808">CS internship recruiting guide</a></li>
			<li><a href=http://blog.alinelerner.com/lessons-from-a-years-worth-of-hiring-data/>Lessons from a year’s worth of hiring data</a></li>
			<li><a href=https://www.pramp.com/login>practice interviewing online</a></li>
		</ul>


		<h2>Other cool stuff I couldn't decide on a category for</h2>
		<ul>
			<li> 
				<a href=https://docs.python.org/2/library/re.html> 
				Regular expressions </a> -- 
				<a href=https://regex.alf.nu/> Regex golf! </a> --
				<a href=http://forums.udacity.com/questions/100137103/questions-regarding-regular-expressions#cs253?> some comments from the Udacity forums </a>
			</li>
			<li> Ubuntu: 
				<a href=https://help.ubuntu.com/community/UsingTheTerminal>  
				Using the terminal</a> -- 
				<a href=http://www.fprintf.net/vimCheatSheet.html> 
				Using VIM commands </a> --
				<a href=http://cfenollosa.com/misc/tricks.txt>Terminal tricks</a>
			</li>		
			<li> 	
				LaTeX <a href=http://tobi.oetiker.ch/lshort/lshort.pdf> 
				The Not So Short Introduction </a>
			</li>
			<li> Khan Academy Coding Involvement </li>
			<ul>
				<li> 	
					<a href=http://cs-blog.khanacademy.org/p/build-visualization-on-our-programming.html> 
					Build a visualization on our programming platform </a> 
				</li>
				<li> 	
					<a href=https://github.com/Khan/khan-exercises/wiki> 
					Khan Academy Exercises Wiki </a> 
				</li>
			</ul>
			<li><a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api">
				Best Practices for Designing a Pragmatic RESTful API</a></li>
			<li> <a href=https://twitter.github.io/typeahead.js/>typeahead.js text prediction</a> 
			<li> 
				<a href=http://openhatch.org/missions> 
				Open Hatch </a> 
			</li>
			
			<li> Cygwin (get that Linux feeling - on Windows)
				<a href=http://cygwin.com/faq.html#faq.api.everything> 
				FAQ</a> and <a href=http://www.cygwin.com/cygwin-ug-net/overview.html> overview </a>
			</li>
			
			</ul>
{% endblock %}