{% extends "template.html" %}
{% block csstitle %}
		<link type="text/css" rel="stylesheet" href="/stylesheets/resourcesstyle.css" />
		<title>Resources for Coding and Software Development</title> 		
{% endblock %}
{% block body %}
			<h1 class="centertitle"> Resources for Software Development</h1>
			<h3 class="centertitle"> a collection of links from over the years</h3>
			<br>
			<h2> Helpful tools </h2>
			<ul>
				<li><a href=http://uxchecklist.github.io target='_blank'/>UX Project Checklist</a></li>
				<li> 	
					<a href=http://www.starling-software.com/employment/programmer-competency-matrix.html target='_blank'> Programmer Competency Matrix </a> 
				</li>
				<li><a href= http://discover-devtools.codeschool.com target='_blank'> codeschool on Chrome dev tools </a> for web dev </li>
				<li> also for web dev: <a href=https://goggles.webmaker.org/en-US target='_blank'>these x-ray goggles</a> are cool </li>
				<li> <a href=exercism.io target='_blank'>exercism.io </a> - coding practice and code critique</li>
				<li> <a href=https://github.com/ target='_blank'> Github </a></li>
				<ul>
					<li><a href=https://help.github.com/articles/set-up-git target='_blank'> setup </a></li>
					<li>Books and articles: <a href=http://git-scm.com/book/en/ target='_blank'> Git Book </a> ,
					<a href=http://think-like-a-git.net/ target='_blank'> Think like (a) Git </a>, <a href=https://github.com/git-game/git-game target='_blank'>git game</a> </li>
					<li>Interactive tutorials: <a href=http://pcottle.github.io/learnGitBranching/ target='_blank'> Learn git branching </a>, <a href=http://gitreal.codeschool.com/?utm_source=github&utm_medium=codeschool_option&utm_campaign=trygit target='_blank'> CodeSchool tutorial </a></li>
				</ul>
			</ul>



			<h2> Coding schools and courses I want to take </h2>
			<ul>				
				<li> <a href=http://plusacumen.org/courses/hcd-for-social-innovation target='_blank'/>A course for human centered design</a></li>
				<li>	
					<a href=https://www.udacity.com/ target='_blank'> 
					Udacity</a> 
				</li>
				<ul>
					<li> <a href="https://www.udacity.com/course/intro-to-machine-learning--ud120" target='_blank'> Intro to Machine Learning</a></li>
					<li><a href="https://www.udacity.com/course/intro-to-artificial-intelligence--cs271" target='_blank'>
					Intro to Artificial Intelligence</a></li>

					<li>	
						<a href=https://www.udacity.com/course/cs258 target='_blank'> 
						Software Testing Methodologies</a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs259 target='_blank'> 
						Software Debugging </a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs256 target='_blank'> 
						Mobile Website Development and Design </a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs291 target='_blank'> 
						Interactive 3D Graphics </a> 
					</li>	
					<li>
						<a href=https://www.udacity.com/wiki/cs253 target='_blank'> Udacity web dev course</a> - I completed this course and would definitely recommend it as a starting point!  
					</li>
				</ul>
				<li>
					<a href=http://www.bento.io target='_blank'>bento.io</a> "Teach yourself to code. Everything you need to be a self-taught expert developer" 
				</li>
				<li>	
					<a href=http://www.codecademy.com/learn target='_blank'> 
					Codecademy</a> 
				</li>
				<li>	
					<a href=http://www.codeschool.com target='_blank'> 
					CodeSchool </a> 
				</li>		
				<li> <a href= https://sites.google.com/site/cssicontent/ target='_blank'>Google's CSSI Web Dev Course Curriculum</a></li> 
			</ul>

		

			<h2> Frameworks for making a web app </h2>
			<ul>
				<li> webapp2/GQL using <a href=https://appengine.google.com target='_blank'> Google App Engine </a> (like the rest of my website) -- <a href=https://developers.google.com/appengine/docs/python/ target='_blank'> Tutorial - App Engine with Python</a>  </li>
				<li> webapp2/<a href=http://flask.pocoo.org/ target='_blank'>Flask</a></li>
				<li> <a href=https://www.djangoproject.com/ target='_blank'>Django</a> -- 
			 		 <a href=http://www.mysliderule.com/web-dev target='_blank'> 
			 		 	List to be a pro at Web Development using Python & Django </a> </li>
				<li> <a href=http://rubyonrails.org/ target='_blank'>Ruby on Rails</a> </li>
			</ul>



			<h2> Make your website pretty </h2>
			<ul>
				<li><a href=https://www.khanacademy.org/computing/computer-programming/html-css target='_blank'>
					Khan Academy's course on HTML/CSS</a><li>
				<li> <a href=https://www.google.com/fonts target='_blank'>open source fonts</a></li>
				<li>
					CSS: <a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started target='_blank'> guide </a> and 
					<a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations target='_blank'> animations </a> and <a href=http://css-tricks.com/responsive-menu-concepts/ target='_blank'>good ways to make menus mobile friendly</a>
				</li>
				<li><a href=http://getbootstrap.com/ target='_blank'>Bootstrap</a> with <a href=http://bootswatch.com>Bootswatch (to customize it)</a></li>
			 	<li><a href=http://foundation.zurb.com/ target='_blank'>Foundation</a></li>
			 	<li><a href=http://www.monolinea.com/css-frameworks-comparison/ target='_blank'>Framework comparisons to help decide</a></li>
			  	<li>(<a href=http://mixture.io/ target='_blank'>Mixture</a> maybe but it costs money)</li>
				<li> 
					<a href=http://sass-lang.com target='_blank'> 
					Sass: a good alternative to CSS</a> and <a href=http://bourbon.io/ target='_blank'> bourbon to go with it </a>
				</li>
			</ul>



			<h2> Stuff you can do outside of personal projects </h2>
			<ul>					
				<li> 	
					<a href=http://stackoverflow.com/ target='_blank'> Stack Overflow </a> 
					(make an account and join the community) 
				</li>
				<li> Contests and Challenges  (put solutions on GitHub)	</li>
				<ul>
					<li>
						<a href=http://projecteuler.net/problems target='_blank'> 
						Project Euler </a> 
					</li>
					<li>
						<a href=http://www.topcoder.com target='_blank'> 
						Top Coder </a> 
					</li>
					<li>
						<a href=http://codeforces.com/contests target='_blank'>
						CodeForces </a>
					</li>
				</ul>
			</ul>



			<h2> Programming languages</h2>
			<ul>
				<li>
					C++: <a href=http://www.cplusplus.com/doc/tutorial/ target='_blank'> 
					Tutorials </a> --
					<a href=http://www.cplusplus.com/reference/ target='_blank'> 
					References </a>	--
					<a href=https://www.sgi.com/tech/stl/stl_index.html target='_blank'>Standard Template Library</a> --
					<a href=http://knot805.eti.pg.gda.pl/po/books/Effective_C++,%20Second%20Edition_190.pdf target='_blank'> Effective C++ </a> --
					<a href=http://it-ebooks.info/book/2510/ target='_blank'> C++ Pocket Reference </a>
				</li>
				<li> JavaScript </li>
				<ul>				
					<li><a href=https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml>Google's style guide</a target='_blank'></li>
					<li>
						<a href=http://it-ebooks.info/book/274/ target='_blank'> 
						JavaScript: The Good Parts </a> (I downloaded the ebook which has a nice table of contents)  
						<a href=http://thedersen.com/talks/2012/01/25/javascript-the-good-parts/images/bad-vs-good.jpg target='_blank'> (related joke) </a>
					</li>
					<li><a href=http://dmitrysoshnikov.com/ecmascript/javascript-the-core/ target='_blank'>JavaScript the core</a></li>
					<li>
						articles on JavaScript on <a href=http://javascript.crockford.com/ target='_blank'> 
						Doug Crockford's site </a>   
					</li> 	
					<li> Use chrome Developer Tools to debug - not "alert"! <a href= http://discover-devtools.codeschool.com/ target='_blank'> codeschool chrome dev tools </a> </li>
					
					<li> "JavaScript language basics - <br> If you know what a closure is and you understand variable scope (hint: it's completely different than in C++ and Java) then you're on the right track."</li>
					<li>
						<a href=http://stackoverflow.com/questions/11246/best-resources-to-learn-javascript target='_blank'> 
						StackOverflow's advice</a>  and list of Crockford's videos
					</li>
					<li>
						<a href=http://eloquentjavascript.net/ target='_blank'> 
						Eloquent JavaScript: A Modern Introduction to Programming</a> 
					</li>				
					<li>
						<a href=https://www.codeschool.com/courses/javascript-road-trip-part-1 target='_blank'> 
						CodeSchool's course</a> 
					</li>
				</ul>

				<li> Popular Javascript Frameworks</li>
				<ul>
					<li> <a href=https://angularjs.org/ target='_blank'> Angular JS </a> </li>
					<li> NodeJS </li>
				</ul>

				<li> 
					Python:
					<a href=https://docs.python.org/2/tutorial/ target='_blank'> Tutorial </a>  --
					<a href=https://www.pythonanywhere.com/try-ipython/ target='_blank'> Compile online </a>
					<a href=http://learnpythonthehardway.org/book/ target='_blank'> Learn Python the hard way</a>
				</li>
				
				<li> <a href=http://factorcode.org/ target='_blank'>Factor</a> - "Factor belongs to the family of concatenative languages: this means that, at the lowest level, a Factor program is a series of words (functions) that manipulate a stack of references to dynamically-typed values." - at the simplest, it's a lot like an RPN calculator, and I once had an interview question to start to implement this kind of language (and it was super cool)</li>

				<li>
					Android:
					<a href=http://developer.android.com/training/index.html target='_blank'>Android Dev Tutorials</a> --
					<a href=https://github.com/thecodepath/android_guides/wiki/Android-Bootcamp-Cliffnotes target='_blank'>Android Bootcamp Cliffnotes</a> --
					<a href=http://vimeo.com/codepath/videos/page:1/sort:alphabetical/format:thumbnail target='_blank'>codepath's videos</a> --
					<a href=https://www.youtube.com/watch?v=Z149x12sXsw target='_blank'>Derek Banas Youtube Tutorial</a> --
					<a href=https://www.udacity.com/course/ud853 target='_blank'>Udacity course</a>
				</li>

				<li>
					Swift: <a href=https://developer.apple.com/videos/wwdc/2014 target='_blank'> Intermediate swift </a>
				<li> 
					<a href=http://flint.cs.yale.edu/cs422/doc/art-of-asm/pdf/ target='_blank'> 
					The Art of Assembly Language Programming </a> 
				</li>
				
				<li> 
					<a href=http://pages.cs.wisc.edu/~hasti/cs368/JavaTutorial/ target='_blank'> 
					Java </a> 
				</li>

			</ul>

		<h2>Preparing for coding applications/interviews</h2>
		<ul>
			<li>Get your resume critiqued in person or online <a href="https://www.facebook.com/groups/1487708811477672/?fref=ts" target='_blank'>Hackathon Hackers resume critique</a></li>
			<li><a href=http://bigocheatsheet.com/ target='_blank'>Big O cheatsheet</a></li>
			<li><a href=http://firstround.com/review/The-anatomy-of-the-perfect-technical-interview-from-a-former-Amazon-VP/ target='_blank'>The Anatomy of the Perfect Technical Interview from a Former Amazon VP</a></li>
			<li><a href=https://www.reddit.com/r/cscareerquestions/comments/1jov24/heres_how_to_prepare_for_tech_interviews/ target='_blank'>Concepts to review or check out</a>(you don't HAVE to know EVERYTHING, especially if you haven't learned it in school yet)</li>
			<li><a href="https://medium.com/@qrazhan/cs-internship-recruiting-guide-aebb68912808" target='_blank'>CS internship recruiting guide</a></li>
			<li><a href=http://blog.alinelerner.com/lessons-from-a-years-worth-of-hiring-data/ target='_blank'>Lessons from a year’s worth of hiring data</a></li>
			<li><a href=https://www.pramp.com/login target='_blank'>practice interviewing online</a></li>
		</ul>


		<h2>Other cool stuff I couldn't decide on a category for</h2>
		<ul>
			<li> 
				<a href=https://docs.python.org/2/library/re.html target='_blank'> 
				Regular expressions </a> -- 
				<a href=https://regex.alf.nu/ target='_blank'> Regex golf! </a> --
				<a href=http://forums.udacity.com/questions/100137103/questions-regarding-regular-expressions#cs253? target='_blank'> some comments from the Udacity forums </a>
			</li>
			<li> Ubuntu: 
				<a href=https://help.ubuntu.com/community/UsingTheTerminal target='_blank'>  
				Using the terminal</a> -- 
				<a href=http://www.fprintf.net/vimCheatSheet.html target='_blank'> 
				Using VIM commands </a> --
				<a href=http://cfenollosa.com/misc/tricks.txt target='_blank'>Terminal tricks</a>
			</li>		
			<li> 	
				LaTeX <a href=http://tobi.oetiker.ch/lshort/lshort.pdf target='_blank'> 
				The Not So Short Introduction </a>
			</li>
			<li> Khan Academy Coding Involvement </li>
			<ul>
				<li> 	
					<a href=http://cs-blog.khanacademy.org/p/build-visualization-on-our-programming.html  target='_blank'> 
					Build a visualization on our programming platform </a> 
				</li>
				<li> 	
					<a href=https://github.com/Khan/khan-exercises/wiki target='_blank'> 
					Khan Academy Exercises Wiki </a> 
				</li>
			</ul>
			<li><a href="http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api" target='_blank'>
				Best Practices for Designing a Pragmatic RESTful API</a></li>
			<li> <a href=https://twitter.github.io/typeahead.js/ target='_blank'>typeahead.js text prediction</a> 
			<li> 
				<a href=http://openhatch.org/missions target='_blank'> 
				Open Hatch </a> 
			</li>
			<li> 
				<a href=http://feedjira.com/ target='_blank'> 
				Feedjira </a> - a Ruby gem for fetching and parsing RSS feeds and
				<a href=https://pypi.python.org/pypi/feedparser target='_blank'> 	
				feedparser</a> does the same in python
			</li>

			<li> Cygwin (get that Linux feeling - on Windows)
				<a href=http://cygwin.com/faq.html#faq.api.everything target='_blank'> 
				FAQ</a> and <a href=http://www.cygwin.com/cygwin-ug-net/overview.html target='_blank'> overview </a>
			</li>
			
			</ul>
{% endblock %}