<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>Evy Kassirer</title> 
    </head>
    <body>
        <a href="/blog" class="main-title">Evy Kassirer</a>
		<a href="/blog/newpost">Create a new post</a>
		<br>
		<br>
		<hr>
			<div id = "content">
			<div class="post">
				<div class="post-heading">
					<div class="post-title">{{post.title}}</div>
					<div class="post-date"> {{post.created.strftime("%b %d, %Y")}}</div>
				</div>
				<pre class="post-content">{{post.body | safe}}</pre>				
				<!--pre preserves white space-->				
			</div>
			</div>
		</hr>	
    </body>
</html>