<!DOCTYPE html>
<html>
    <head>
		<title>EXTRME Tic Tac Toe</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/super-tttstyle.css" />
    </head>
	<body class="body">
		<div id = "board">
		<!-- the parts in the board are added dynamically with javascript because it's annoying to type it all out -->
		</div>
		<div id = "sidebar">
			<a href="/">Home</a>
			<br>
			<a href="/tictactoe">Tic Tac Toe</a>
			<br>
			<br>
			<b> EXTREME <br> Tic Tac Toe </b>
			<br>
			<br>
			Turn: <span id="currentplayer" style ="color: blue;"> Player 1 </span>
			<br>
			<br>
			<button type="button" id ="new">New Game</button>
		</div>
		<div id = "footer">
			Made using JavaScript, HTML, and CSS (my first JavaScript project!)
		</div>
		<div id="winner"></div>
		<script src="/js/super-tttscript.js">			
		</script>
	</body>
</html>


