{% extends "template.html" %}
{% block csstitle %}
		<link type="text/css" rel="stylesheet" href="/stylesheets/super-tttstyle.css" />
		<title>EXTREME Tic Tac Toe</title>
{% endblock %}
{% block body %}
			<div id = "board">
			<!-- the parts in the board are added dynamically with javascript because it's annoying to type it all out -->
			</div>
			<div id = "sidebar">
				<br>
				<a href="/tictactoe">Tic Tac Toe</a>
				<br>
				<br>
				<b> EXTREME <br> Tic Tac Toe </b>
				<br>
				<br>
				Turn: <span id="currentplayer" style ="color: blue;"> Player 1 </span>
				<br>
				<br>
				<button type="button" id ="new">New Game</button>
				<br>
				<br>
				<button type="button" id ="instr_button">Instructions</button>
			</div>
			<div id="winner"></div>
			<div id="instructions"></div>
			<script src="/js/super-tttscript.js">			
			</script>
{% endblock %}

