<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <link rel="shortcut icon" type="image/jpeg" href="/static/E.png" />
        {% block csstitle %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-56095255-1', 'auto');
		  ga('send', 'pageview');

		</script>
    </head>
    <body>
    	<div class="toptoolbar"> 
			<a class = "my_name" href='/'>Evy Kassirer</a> 
	  		<a class = "section_name" href='/'>About</a>
	  		<a class = "section_name" href='/blog'>Blog</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume</a>
	  		<div class = "dropdown hoveropen">
	  			<a class = "section_name" href='/projects'>Projects</a>
	  			<div class = "dropdownlist">
                    <a href='http://davepagurek.com/yc/' target='_blank'>Code Next</a>
                    <a href='https://github.com/evykassirer/TextFormat' target='_blank'>Text Format</a> 
                    <a href='/tictactoe'>Tic Tac Toe</a>
                    <a href='/udacity'>Web Dev</a>
                    <a href='https://github.com/evykassirer/RSA' target='_blank'>RSA</a>
                    <a href='https://github.com/evykassirer/FlowersofHanoi' target='_blank'>Hanoi</a>
                    <a href='/todo'>My To Do List</a>
                </div>
	  		</div>
	 		<a class = "section_name" href='https://github.com/evykassirer/' target='_blank'>GitHub</a>
	 		<a class = "section_name" href='http://ca.linkedin.com/in/ekassirer/' target='_blank'>LinkedIn</a>
	 		<a class = "section_name" href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
		</div>
		<div class="toptoolbarsmall"> 
			<a class = "my_name" href='/'>Evy Kassirer</a> 
			<div class = "dropdown clickopen">
				<div class = "section_name">Menu</div>
				<div class = "dropdownlist clicklist">
			  		<a class="removesecond" href='/'>About</a>
			  		<a href='https://evykassirer.wordpress.com/' target= '_blank'>Blog</a>
			  		<a href='/resume' target='_blank'>Resume</a>
			  		<a href='/projects'>Projects</a>
	  		 		<a href='https://github.com/evykassirer/', '_blank'>GitHub</a>
	 				<a class="removefirst" href='http://ca.linkedin.com/in/ekassirer/', '_blank'>LinkedIn</a>
	 				<a href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
	 			</div>
	 		</div>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody">
			{% block body %}{% endblock %}
			<script src="/js/main.js"></script>
		</div>
	</body>
</html>