<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <link rel="shortcut icon" type="image/jpeg" href="/static/e.ico" />
        {% block csstitle %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-56095255-1', 'auto');
		  ga('send', 'pageview');

		</script>
    </head>
    <body>
    	<div class="toptoolbar"> 
			<a class = "my_name" href='/'>Evy Kassirer</a> 
	 		<a class = "section_name" href='/projects'>Projects</a>
	 		<a class = "section_name" href='/music'>Music</a>
	 		<a class = "section_name" href='/resources'>Resources</a>
	 		<a class = "section_name" href='/contact'>Contact</a>
	  		<a class = "section_name" href='https://medium.com/@evyk' target='_blank'>Blog →</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume →</a>
		</div>
		<div class="toptoolbarsmall"> 
			<a class = "my_name" href='/'>Evy Kassirer</a> 
			<div class = "dropdown clickopen">
				<div class = "section_name dropdown_button">Menu</div>
				<div class = "dropdownlist clicklist">
			  		<a href='https://medium.com/@evyk' target='_blank'>Blog</a>
			  		<a href='/resume' target='_blank'>Resume</a>
			  		<a href='https://github.com/evykassirer/' target='_blank'>GitHub</a>
			  		<a href='/projects'>Projects</a>
			  		<a href='/music'>Music</a>
			  		<a href='/resources'>Resources</a>
	 				<a href='/contact'>Contact</a>
	 			</div>
	 		</div>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody">
			{% block body %}{% endblock %}
			<script src="/js/main.js"></script>
		</div>
	</body>
</html>