{% extends "template.html" %}
{% block csstitle %}
		<link type="text/css" rel="stylesheet" href="/stylesheets/tttstyle.css" />
		<title>Tic Tac Toe</title>
{% endblock %}
{% block body %}
 			<div id = "board">
				<div class = "row">
					<div class= "block" id="one"></div>
					<div class = "block" id="two"></div>
					<div class = "block" id="three"></div>
				</div>
				<div class = "row">
					<div class = "block" id="four"></div>
					<div class = "block" id="five"></div>
					<div class = "block" id="six"></div>
				</div>
				<div class = "row">
					<div class = "block" id="sev"></div>
					<div class = "block" id="eight"></div>
					<div class = "block" id="nine"></div>
				</div>
			</div>
			<div id = "sidebar">
				<br>
				<b> Tic Tac Toe <b>
				<br>
				<br>
				<a href="/extreme_tictactoe">EXTREME <br> Tic Tac Toe</a>
				<br>
				<br>
				Turn: <span id="currentplayer" style ="color: blue;"> Player 1 </span>
				<br>
				<br>
				<button type="button" id ="new">New Game</button>
			</div>
			<div id = "footer">
				Made using JavaScript, HTML, and CSS (my first JavaScript project!)
			</div>
			<div id="winner"></div>
			<script src="/js/tttscript.js"></script>
{% endblock %}