<!DOCTYPE html>
<html>
    <head>
		<title>Tic Tac Toe</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/tttstyle.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <link rel="shortcut icon" type="image/jpeg" href="/static/E.png" />
    </head>
	<body class="body">
		<div class="toptoolbar"> 
			<div id="my_name">Evy Kassirer</div> 
	  		<a class = "section_name" href='/'>About</a>
	  		<a class = "section_name" href='https://evykassirer.wordpress.com/' target= '_blank'>Blog</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume</a>
	  		<div class = "dropdown">
	  			<a class = "section_name" href='/projects'>Projects</a>
	  			<ul>
                    <li><a href='http://davepagurek.com/yc/' target='_blank'>Code Next</a></li>
                    <li><a href='/tictactoe'>Tic Tac Toe</a></li>
                    <li><a href='/udacity'>Web Dev</a></li> 
                    <li><a href='/todo'>Future learning</a></li>
                </ul>
	  		</div>
	 		<a class = "section_name" href='https://github.com/evykassirer/', '_blank'>GitHub</a>
	 		<a class = "section_name" href='http://ca.linkedin.com/in/ekassirer/', '_blank'>LinkedIn</a>
	 		<a class = "section_name" href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody">
			<div id = "board">
				<div class = "row">
					<div class= "block" id="one"></div>
					<div class = "block" id="two"></div>
					<div class = "block" id="three"></div>
				</div>
				<div class = "row">
					<div class = "block" id="four"></div>
					<div class = "block" id="five"></div>
					<div class = "block" id="six"></div>
				</div>
				<div class = "row">
					<div class = "block" id="sev"></div>
					<div class = "block" id="eight"></div>
					<div class = "block" id="nine"></div>
				</div>
			</div>
			<div id = "sidebar">
				<br>
				<b> Tic Tac Toe <b>
				<br>
				<br>
				<a href="/extreme_tictactoe">EXTREME <br> Tic Tac Toe</a>
				<br>
				<br>
				Turn: <span id="currentplayer" style ="color: blue;"> Player 1 </span>
				<br>
				<br>
				<button type="button" id ="new">New Game</button>
			</div>
			<div id = "footer">
				Made using JavaScript, HTML, and CSS (my first JavaScript project!)
			</div>
			<div id="winner"></div>
			<script src="/js/tttscript.js"></script>
		</div>
	</body>
</html>


