{% extends "template.html" %}
{% block csstitle %}
        <link rel="stylesheet" type="text/css" href="/stylesheets/todo.css" />
		<title>To Do</title> 
{% endblock %}
{% block body %}
<h1 class="center">To Do List</h1>
<br>
<div class="text center">things I'd like to do at some point in my life <br> inspired by <a href="http://jackieali.me/levelup.html">Jackie Ali's level up list</a></div>

<div class="banner">Music</div>
<div class="text">
<ul>
	<li>conduct and direct my own choir</li>
	<li>learn to sing jazz and sing with a jazz ensemble</li>
	<li>find 5 poems I like and write songs using them as lyrics</li>
	<li>make a CD of original music with self-written lyrics</li>
	<li>make $500 busking, and donate it to a charity for music education</li>
	<li>learn to sing overtones clearly</li>
	<li>learn to throat sing</li>
	<li>be able to sing a note on command (perfect pitch)</li>
	<li>be able to identify a note someone has sung (perfect pitch)</li>	
</ul>
</div>

<div class="banner">Career/Tech</div>
<div class="text">
<ul>
	<li><span class="done">work at Khan Academy</span> (internship winter 2016)</li>
	<li>contribute regularly to open source for a year</li>
	<li>become very efficient with a text editor</li>
	<li>learn about data science and machine learning, and use them in a side project for social impact</li>
</ul>
</div>

<div class="banner">Fitness and Health</div>
<div class="text">
<ul>
	<li>read a physical book of fiction before bed for 2 months (with a few days slack allowance for late social events)</li>
	<li>do 20+ min of yoga before bed for 2 months (with a few days slack allowance for late social events)</li>
	<li>get 90 degree flexibility between my lower and upper body
		<ul> 
			<li> this is actually something many people can do, and means that if I lie on my back I can stick up straight legs perpendicular to the floor - I'm pretty sure that not having this flexibility/strength in my core/butt/calves is one of the causes of soreness in my body, and it also makes some yoga poses really hard to approach</li>
		</ul>
	<li>hold plank for 3 minutes</li>
	<li>cook a meal for myself at least once a week for a whole term (around four months) - with at least 10 different unique recipes</li>
	<li>meditate for a year straight (current streak Oct 18-present)</li>
	<li>learn to swing dance</li>
	<li>take jazz dance lessons</li>
</ul>
</div>


<div class="banner">Travel/Adventure</div>
<div class="text">
<ul>
	<li>see the Northen Lights</li>
	<li>visit Israel for birthright - possibly for the <a href="https://israeltechallenge.com/" target="_blank">Israeli Tech Challenge</a></li>
	<li>explore a style of music/instrument mainly found in a culture/country that is not Western, travel to that part of the world, and play this music with them</li>
	<li>go to the <a href="http://2014.laulupidu.ee/en/" target="_blank">Estonian Song and Dance Celebration</a> (with a joint choir comprised of more than 30,000 singers performing to an audience of 80,000)</li>
	<li>attend Burning Man</li>
	<li>stay in a cabin with no electricity or running water for a week</li>
	<li>go canoe camping with musical friends - bring instruments!</li>
</ul>
</div>

<div class="banner">Uncategorized</div>
<div class="text">
<ul>
	<li>take acting classes</li>
	<li>help 100 Entrepreneurs Better Their Lives Through Micro-Loans at Kiva.org</li>
</ul>
</div>

{% endblock %}
