<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/todostyle.css" />
		<link rel="shortcut icon" type="image/png" href="http://art1914.com/light-bulb-drawn-blue3.png" />
		<title>Programming TO DO && Coding Resources</title> 		
    </head>
    <body>
    	<div class="toptoolbar"> 
			<div id="my_name">Evy Kassirer</div> 
	  		<a class = "section_name" href='/'>About</a>
	  		<a class = "section_name" href='https://evykassirer.wordpress.com/' target= '_blank'>Blog</a>
	  		<a class = "section_name" href='/resume' target='_blank'>Resume</a>
	  		<div class = "dropdown">
	  			<a class = "section_name" href='/projects'>Projects</a>
	  			<ul>
                    <li><a href='http://davepagurek.com/yc/' target='_blank'>Code Next</a></li>
                    <li><a href='/tictactoe'>Tic Tac Toe</a></li>
                    <li><a href='/udacity'>Web Dev</a></li> 
                    <li><a href='/todo'>Future learning</a></li>
                </ul>
	  		</div>
	 		<a class = "section_name" href='https://github.com/evykassirer/', '_blank'>GitHub</a>
	 		<a class = "section_name" href='http://ca.linkedin.com/in/ekassirer/', '_blank'>LinkedIn</a>
	 		<a class = "section_name" href='mailto:evy.kassirer@gmail.com' target='_blank'>Email</a>
		</div>
		<div class="topplaceholder"></div>
		<div class="pagebody">
			<h1> Programming TO DO && Coding Resources ~ a collection of links and things to do</h1>
			<br>
			<h2> Current/Soon Projects </h2>
			<ul>
				<li> Code Next </li>
				<ul>
					<li> <em>Disclaimer: the fact that this page is so long and I often have no idea what to do next is exactly why I'm making this</em> </li>
					<li> Move PHP + Mysql code to a framework. Options: webapp2/GQL (like the rest of my website), webapp2/<a href=http://flask.pocoo.org/>Flask</a>, <a href=https://www.djangoproject.com/>Django</a>, <a href=http://rubyonrails.org/>Ruby on Rails</a> 
					</li>
					<li> Stop users from being able to enter "none" or similar things as prereqs </li>
					<li> Get a domain name (maybe change name of the app - codenext.com is taken, though I might be able to buy it)</li>
					<li> Increase security! Encode all input, prevent spammers... </li>
					<li> Make it usable on mobile as well. </li>
					<li> Try frameworks like <a href=http://getbootstrap.com/>Bootstrap</a> with <a href=bootswatch.com>Bootswatch (to customize it)</a> or <a href=http://foundation.zurb.com/>Foundation</a> or <a href=http://www.monolinea.com/css-frameworks-comparison/>something else</a> (<a href=http://mixture.io/>Mixture</a> maybe but it costs money)
					<li> <a href=https://twitter.github.io/typeahead.js/>typeahead.js</a> might be good for text prediction when users search</a>
					<li> Add user accounts and/or cookies to save search preferences and more meaning to reviews</li>						
				</ul>

				<li> <a href=https://github.com/evykassirer/a11y-hackathon>Accessibility Chrome Extension</a>  - custom text formatting for low vision users</li>
				<ul>
					<li> Goal: get a bit better at Javascript/CSS/HTML</li>
					<li> Make the menu nicer and easier to interact with</li>
					<li> Make a button that sets all formatting to default </li>
					<li> Let users save and return to a certain formatting combination (maybe multiple) </li>
					<li> Learn how to write really good web dev documentation using example Chrome Extensions and then write good documentation </li>
					<li> Custom inputs? </li>
					<li> Moonshot: let the user select any text on the page and change formatting for just that text </li>						
				</ul>		
				
				<li> Website </li>
				<ul>
					<li> Code the blog into my website</li>
					<li> Make at least the home page more mobile friendly</li>
					<li> Use templates better - the toolbar thing shouldn't have to be copy/pasted every time I make a change</li>
					<li> Make an html copy of my resume </li>				
					<li>
						<a href=https://www.udacity.com/wiki/cs253> 
						Udacity web dev course</a> --- Complete Bonus and Improve Wiki 
					</li>
					<li>
						<a href=https://appengine.google.com/> 
						Google App Engine</a>  --
						<a href=https://developers.google.com/appengine/docs/python/> 
						Tutorial - App Engine with Python</a> 
					</li>
					
				</ul>
							
				<li> 	
					<a href=http://stackoverflow.com/> 
					Stack Overflow </a> (make an account and join the community) 
				</li>
				<li> Contests and Challenges  (put solutions on GitHub)		</li>
				<ul>
					<li>
						<a href=http://projecteuler.net/problems> 
						Project Euler </a> 
					</li>
					<li>
						<a href=http://www.topcoder.com> 
						Top Coder </a> 
					</li>
					<li>
						<a href=http://codeforces.com/contests>
						CodeForces </a>
				</ul>
				<li> Khan Academy Coding Involvement </li>
				<ul>
					<li> 	
						<a href=http://cs-blog.khanacademy.org/p/build-visualization-on-our-programming.html> 
						Build a visualization on our programming platform </a> 
					</li>
					<li> 	
						<a href=https://github.com/Khan/khan-exercises/wiki> 
						Khan Academy Exercises Wiki </a> 
					</li>
				</ul>
			</ul>

			<h2> Current/Soon Resources </h2>
			<ul>
				<li> As well as chrome dev tools, <a href=https://goggles.webmaker.org/en-US>these x-ray goggles</a> are cool </li>
				<li>
					CSS: <a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started> guide </a> and 
					<a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations> animations </a>
				</li>
				<li> Ubuntu: 
					<a href=https://help.ubuntu.com/community/UsingTheTerminal>  
					Using the terminal</a> -- 
					<a href=http://www.fprintf.net/vimCheatSheet.html> 
					Using VIM commands </a> --
					<a href=http://cfenollosa.com/misc/tricks.txt>Terminal tricks</a>
				</li>		
				<li> 	
					LaTeX <a href=http://tobi.oetiker.ch/lshort/lshort.pdf> 
					The Not So Short Introduction </a>
				</li>
				<li> 	
					C++: <a href=http://www.cplusplus.com/doc/tutorial/> 
					Tutorials </a> --
					<a href=http://www.cplusplus.com/reference/> 
					References </a>	--
					<a href=https://www.sgi.com/tech/stl/stl_index.html>Standard Template Library</a> --
					<a href=http://knot805.eti.pg.gda.pl/po/books/Effective_C++,%20Second%20Edition_190.pdf> Effective C++ </a> --
					<a href=http://it-ebooks.info/book/2510/> C++ Pocket Reference </a>
				</li>
				<li> JavaScript </li>
					<ul>				
						<li>
							<a href=http://it-ebooks.info/book/274/> 
							JavaScript: The Good Parts </a> (you downloaded the ebook which has a nice table of contents)  
							<a href=http://thedersen.com/talks/2012/01/25/javascript-the-good-parts/images/bad-vs-good.jpg> (related joke) </a>
						</li>
						<li>
							articles on JavaScript on <a href=http://javascript.crockford.com/> 
							Doug Crockford's site </a>   
						</li> 	

						<li>  Chrome Developer Tools to debug - no "alert"! <a href= http://discover-devtools.codeschool.com/> codeschool chrome dev tools </a> </li>
						
						<li> "JavaScript language basics - <br> If you know what a closure is and you understand variable scope (hint: it's completely different than in C++ and Java) then you're on the right track."</li>
						<li>
							<a href=http://stackoverflow.com/questions/11246/best-resources-to-learn-javascript> 
							StackOverflow's advice</a>  and list of Crockford's videos
						</li>
						<li>
							<a href=http://eloquentjavascript.net/> 
							Eloquent JavaScript: A Modern Introduction to Programming</a> 
						</li>				
						<li>
							<a href=https://www.codeschool.com/courses/javascript-road-trip-part-1> 
							CodeSchool's course</a> 
						</li>
					</ul>
				</li>

				<li> <a href=https://github.com/> Github </a> :
					<a href=http://git-scm.com/book/en/> Git Book </a> ,
					<a href=http://think-like-a-git.net/> Think like (a) Git </a> , (
					<a href=https://help.github.com/articles/set-up-git> setup </a> ,
					<a href=http://gitreal.codeschool.com/?utm_source=github&utm_medium=codeschool_option&utm_campaign=trygit> CodeSchool tutorial </a>)
				</li>
			</ul>
			<h2> Coding schools and courses I want to take </h2>
			<ul>
				<li>	
					<a href=https://www.udacity.com/> 
					Udacity</a> 
				</li>
				<ul>
					<li>	
						<a href=https://www.udacity.com/course/cs255> 
						HTML5 gaming</a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs258> 
						Software Testing Methodologies</a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs259> 
						Software Debugging </a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs256> 
						Mobile Website Development and Design </a> 
					</li>
					<li>	
						<a href=https://www.udacity.com/course/cs291> 
						Interactive 3D Graphics </a> 
					</li>	
				</ul>
				
				
				<li>	
					<a href=http://www.codecademy.com/learn> 
					Codecademy</a> 
				</li>
				<li>	
					<a href=http://www.codeschool.com> 
					CodeSchool </a> 
				</li>		
			</ul>
				
							
						
			</ul>
			<h2> General Coding Resources/Lists </h2>
			<ul>
				<li> 	
					<a href=http://www.starling-software.com/employment/programmer-competency-matrix.html> 
						Programmer Competency Matrix </a> 
				</li>
				<li> 	
					<a href=http://www.mysliderule.com/web-dev> 
						List to be a pro at Web Development using Python & Django  </a> 
				</li>
				
			</ul>
				
			<h2> Resources I've collected - marked less urgent/interested </h2>
			<ul>
				<li> <a href= https://sites.google.com/site/cssicontent/>Google's CSSI Web Dev Course Curriculum</a></li> 
				<li> 
					<a href=https://angularjs.org/> 
					Angular JS </a> 
				</li>
				
				<li> 
					<a href=http://sass-lang.com> 
					Sass: a good alternative to CSS</a> and <a href=http://bourbon.io/> bourbon to go with it </a>
				</li>
				
				<li> 
					<a href=https://docs.python.org/2/library/re.html> 
					Regular expressions </a> -- 
					<a href=https://regex.alf.nu/> Regex golf! </a> --
					<a href=http://forums.udacity.com/questions/100137103/questions-regarding-regular-expressions#cs253?> some comments from the Udacity forums </a>
				</li>
				
				<li> 
					<a href=http://openhatch.org/missions> 
					Open Hatch </a> 
				</li>
				
				<li> 
					Python:
					<a href=https://docs.python.org/2/tutorial/> Tutorial </a>  --
					<a href=https://www.pythonanywhere.com/try-ipython/> Compile online </a>
				</li>
				
				<li>
					Android:
					<a href=http://developer.android.com/training/index.html>Android Dev Tutorials</a> --
					<a href=https://github.com/thecodepath/android_guides/wiki/Android-Bootcamp-Cliffnotes>Android Bootcamp Cliffnotes</a> --
					<a href=http://vimeo.com/codepath/videos/page:1/sort:alphabetical/format:thumbnail>codepath's videos</a> --
					<a href=https://www.youtube.com/watch?v=Z149x12sXsw>Derek Banas Youtube Tutorial</a> --
					<a href=https://www.udacity.com/course/ud853>Udacity course</a>
				</li>

				<li>
					Swift: <a href=https://developer.apple.com/videos/wwdc/2014> Intermediate swift </a>
				<li> 
					<a href=http://flint.cs.yale.edu/cs422/doc/art-of-asm/pdf/> 
					The Art of Assembly Language Programming </a> 
				</li>
				
				<li> 
					<a href=http://pages.cs.wisc.edu/~hasti/cs368/JavaTutorial/> 
					Java </a> 
				</li>
				
				<li> Cygwin
					<a href=http://cygwin.com/faq.html#faq.api.everything> 
					FAQ</a> and <a href=http://www.cygwin.com/cygwin-ug-net/overview.html> overview </a>
				</li>
				
				<li> 
					<a href=https://www.dropbox.com/sh/f8bkq8up5mpldo5/Rr0cuvp44Z> 
					PHP/MySQL/WAMP</a> 
				</li>
					
				<li> Qt 
					<a href=http://developer.qt.nokia.com/doc/qt-4.8/gettingstartedqt.html>  1 </a> &nbsp;
					<a href=https://qt.gitorious.org/qt/qt/trees/4.8/examples/tutorials/gettingStarted/gsQt>  2 </a> 				
				</li>
				
			</ul>
		</div>
    </body>
</html>
