<!DOCTYPE html>
<html>
    <head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/todostyle.css" />
		<link rel="shortcut icon" type="image/png" href="http://art1914.com/light-bulb-drawn-blue3.png" />
		<title>Programming TO DO && Coding Resources</title> 		
    </head>
    <body>
		<h1> Programming TO DO && Coding Resources ~ a collection of links and things to do</h1>
	
		<h2> Current/Soon Coding Projects </h2>
		<ul>
			<li> JavaScript </li>
			<ul>				
				<li>
					<a href=http://it-ebooks.info/book/274/> 
					JavaScript: The Good Parts </a> (you downloaded the ebook which has a nice table of contents)  
					<a href=http://thedersen.com/talks/2012/01/25/javascript-the-good-parts/images/bad-vs-good.jpg> (related joke) </a>
				</li>
				
				<li>
					articles on JavaScript on <a href=http://javascript.crockford.com/> 
					Doug Crockford's site </a>   
				</li> 	

				<li>  Perhaps the best idea would be to try to build something using HTML and JavaScript. <br> Use pure JavaScript, not jQuery or something like that. Use Chrome Developer Tools to debug - no "alert"! <a href= http://discover-devtools.codeschool.com/> codeschool chrome dev tools </a> </li>
				<li> <a href=http://www.html5rocks.com/en/> html5rocks </a>
				examples of cool new things you can do with HTML and JS that might not work in really old browsers - <br> those aren't often mentioned in some JavaScript tutorials because they focus on strict compatibility, but we use those APIs extensively at Google.
				<li> Really, for this summer the most important thing is just that you know JavaScript language basics. <br> If you know what a closure is and you understand variable scope (hint: it's completely different than in C++ and Java) then you're on the right track.</li>
				<li>
					<a href=http://stackoverflow.com/questions/11246/best-resources-to-learn-javascript> 
					StackOverflow's advice</a>  and list of Crockford's videos
				</li>
				<li>
					<a href=http://eloquentjavascript.net/> 
					Eloquent JavaScript: A Modern Introduction to Programming</a> 
				</li>				
				<li>
					<a href=https://www.codeschool.com/courses/javascript-road-trip-part-1> 
					CodeSchool's course</a> 
				</li>
				<li> Project Ideas: text box or button events, anything a web browser supports, drag and drop events for example
				</li>
			</ul>
			
			
			<li> Website </li>
			<ul>
				<li>
					<a href=https://www.udacity.com/wiki/cs253> 
					Udacity web dev course</a> --- Complete Bonus and Improve Wiki 
				</li>
				<li> Add some javascript </li>
				<li> Make my resume a file and not a link to DropBox </li>
				<li> Add better CSS </li>
				<li> Make an html copy of my resume </li>	
				<li> Add a blog where I post about co-op/class/coding/education </li>
				<li>
					<a href=https://appengine.google.com/> 
					Google App Engine</a> 
				</li>
				<li>
					<a href=https://developers.google.com/appengine/docs/python/> 
					Tutorial - App Engine with Python</a> 
				</li>
				
			</ul>
						
			<li> 	
				<a href=http://stackoverflow.com/> 
				Stack Overflow </a> (make an account and join the community) 
			</li>
			<li> Contests and Challenges  (put solutions on GitHub)		</li>
			<ul>
				<li>
					<a href=http://projecteuler.net/problems> 
					Project Euler </a> 
				</li>
				<li>
					<a href=http://www.topcoder.com/> 
					Top Coder </a> 
				</li>
			</ul>
			<li> <a href=https://github.com/> Github </a> (
				<a href=https://help.github.com/articles/set-up-git> setup </a>,
				<a href=http://git-scm.com/book/en/Getting-Started-Git-Basics> Git Basics </a>,
				<a href=http://gitreal.codeschool.com/?utm_source=github&utm_medium=codeschool_option&utm_campaign=trygit> CodeSchool tutorial </a>)
			</li>
			<li> Khan Academy Coding Involvement </li>
			<ul>
				<li> 	
					<a href=http://cs-blog.khanacademy.org/p/build-visualization-on-our-programming.html> 
					Build a visualization on our programming platform </a> 
				</li>
				<li> 	
					<a href=https://github.com/Khan/khan-exercises/wiki> 
					Khan Academy Exercises Wiki </a> 
				</li>
			</ul>
		</ul>
						
					
		</ul>
		<h2> General Coding Resources/Lists </h2>
		<ul>
			<li> 	
				<a href=http://www.starling-software.com/employment/programmer-competency-matrix.html> 
					Programmer Competency Matrix </a> 
			</li>
			<li> 	
				<a href=http://www.mysliderule.com/web-dev> 
					List to be a pro at Web Development using Python & Django  </a> 
			</li>
			
		</ul>
			
		<h2> Specific resources for now and near future </h2>
		<ul>
			<li>
				<a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started"> CSS guide </a> and 
				<a href=https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_animations> animations </a>
			</li>
			
			<li> Ubuntu </li>
			<ul>
				<li>	
					<a href=https://help.ubuntu.com/community/UsingTheTerminal>  
					Using the terminal</a> 
				</li>
				<li>	
					<a href=http://www.fprintf.net/vimCheatSheet.html> 
					Using VIM commands </a> 
				</li>		
			</ul>
			<li> 	
				LaTeX <a href=http://tobi.oetiker.ch/lshort/lshort.pdf> 
				The Not So Short Introduction </a>
			</li>
			<li> 	
				C++ <a href=http://www.cplusplus.com/doc/tutorial/> 
				Tutorials </a>
				&nbsp;
				<a href=http://www.cplusplus.com/reference/> 
				References </a>				
			</li>
		</ul>
			
		<h2> Coding schools and courses I want to take </h2>
		<ul>
			<li>	
				<a href=https://www.udacity.com/> 
				Udacity</a> 
			</li>
			<ul>
				<li>	
					<a href=https://www.udacity.com/course/cs258> 
					Software Testing Methodologies</a> 
				</li>
				<li>	
					<a href=https://www.udacity.com/course/cs259> 
					Software Debugging </a> 
				</li>
				<li>	
					<a href=https://www.udacity.com/course/cs256> 
					Mobile Website Development and Design </a> 
				</li>
				<li>	
					<a href=https://www.udacity.com/course/cs291> 
					Interactive 3D Graphics </a> 
				</li>	
			</ul>
			
			
			<li>	
				<a href=http://www.codecademy.com/learn> 
				Codecademy</a> 
			</li>
			<li>	
				<a href=http://www.codeschool.com> 
				CodeSchool </a> 
			</li>		
		</ul>
			
			
			
		<h2> Resources I've collected - marked less urgent/interested </h2>
		<ul>
			<li> 
				<a href=https://angularjs.org/> 
				Angular JS </a> 
			</li>
			
			<li> 
				<a href=http://sass-lang.com> 
				Sass: a good alternative to CSS</a> and <a href=http://bourbon.io/> bourbon to go with it </a>
			</li>
			
			
			<li> 
				<a href=https://docs.python.org/2/library/re.html> 
				Regular expressions </a> &nbsp;
				<a href=http://forums.udacity.com/questions/100137103/questions-regarding-regular-expressions#cs253?> and some comments from the Udacity forums </a>
			</li>
			
			<li> 
				<a href=http://openhatch.org/missions> 
				Open Hatch </a> 
			</li>
			
			<li> 
				Python <a href=https://docs.python.org/2/tutorial/> Tutorial </a>  &nbsp;
				<a href=https://www.pythonanywhere.com/try-ipython/> Compile online </a>
			</li>
			
			<li> 
				<a href=http://flint.cs.yale.edu/cs422/doc/art-of-asm/pdf/> 
				The Art of Assembly Language Programming </a> 
			</li>
			
			<li> 
				<a href=http://pages.cs.wisc.edu/~hasti/cs368/JavaTutorial/> 
				Java </a> 
			</li>
			
			<li> Cygwin
				<a href=http://cygwin.com/faq.html#faq.api.everything> 
				FAQ</a> and <a href=http://www.cygwin.com/cygwin-ug-net/overview.html> overview </a>
			</li>
			
			<li> 
				<a href=https://www.dropbox.com/sh/f8bkq8up5mpldo5/Rr0cuvp44Z> 
				PHP/MySQL/WAMP</a> 
			</li>
				
			<li> Qt 
				<a href=http://developer.qt.nokia.com/doc/qt-4.8/gettingstartedqt.html>  1 </a> &nbsp;
				<a href=https://qt.gitorious.org/qt/qt/trees/4.8/examples/tutorials/gettingStarted/gsQt>  2 </a> 				
			</li>
			
		</ul>
			
    </body>
</html>
