<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>eawkassirer</title> 
    </head>
    <body>
        <h2>Welcome!</h2>
		This stuff was made as part of a course with Udacity at <a href = "/redirect?url=http://www.udacity.com/course/cs253" target="_blank">udacity.com/course/cs253</a>
		<br>
		<br>
		Stuff:
		<br>
        <a href = "/rot13">Rot13</a>
        <br>
        <a href = "/birthday">Do you know your birthday?</a>
        <br>
		<a href = "/asciichan">ASCIICHAN!</a>
		<br>
		<a href = "/blog">The blog</a>
    </body>
</html>