<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>Wiki</title> 
    </head>
    <body>
		<a href="/wiki" class="main-title">Wiki</a>
		<div class="pagebody">
		Add / with the name of the page you'd like to see/edit to the end of the url</a>
		</div>
		
		<div class="topbar">
		{% if user %}
		{{user}}(<a href="/wiki/logout">logout</a>)
		{% endif %}
		{% if not user %}
		<a href="/wiki/login">login</a> | <a href="/wiki/signup">signup</a>
		{% endif%}
		</div>
		
		<div class="sidebar">
		Projects:
		<br>
        <br>
        <a href = "/rot13">Rot13</a>
        <br>
        <a href = "/birthday">Do you know your birthday?</a>
        <br>
		<a href = "/asciichan">ASCIICHAN!</a>
		<br>
		<a href = "/blog">The blog (main course project)</a>
		<br>
		<a href = "/wiki">Wiki (course exam)</a>
        <br>
		<a href = "/udacity">Go back </a>
		</div>
		
    </body>
</html>