<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>{{title}}</title> 
    </head>
    <body>
        <a href="/wiki" class="main-title">Wiki</a>
		<div class="topbar">
		{% if user %}
		<a href="/wiki/_edit/{{title}}">edit</a>|history
		&nbsp;
		{{user}}(<a href="/wiki/logout">logout</a>)
		{% endif %}
		{% if not user %}
		<a href="/wiki/login">login</a>|<a href="/wiki/signup">signup</a>
		{% endif%}
		</div>
		<br>
		<br>
		<hr>
			<div class="post-date"> {{last_edited}}</div>
			<div class="post">
				<form method="post">
				<textarea class="post-content" name="content">{{content | safe}}</textarea>
				<div style="color:red">{{error}}</div>
				<input type="submit">		
				</form>
			</div>
		</hr>	
    </body>
</html>